﻿@model IEnumerable<Garments_ERP.Entity.SP_GetItemInwardDetailsEntity>
@{
    ViewBag.Title = "ItemInwardReport";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<style>
    .inner {
        display: inline-block;
    }
    /*.modal-lg {
       max-width: 80% !important;
    }*/
    .modal-ku {
        width: 750px;
        margin: auto;
    }
</style>

<style>
    #footerExport td {
        cursor: pointer;
        text-align: center;
        border: 1px solid #ccc;
        border: none;
    }
</style>

<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<link href="~/Content/JqueryUi.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-1.8.2.min.js"></script>*@
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
@Scripts.Render("~/bundles/exportJs")
<script>
    $(document).ready(function () {
        var varpdfFontSize = '7';
        $('#exportexcel').bind('click', function (e) {
            $('#example1').tableExport({ type: 'excel', escape: 'false', pdfFontSize: varpdfFontSize });
        });
        $('#exportpdf').bind('click', function (e) {
            $('#example1').tableExport({ type: 'pdf', escape: 'false', target: '_blank' });
        });
        $('#exportcsv').bind('click', function (e) {
            $('#example1').tableExport({ type: 'csv', escape: 'false' });
        });

        $('#exportword').bind('click', function (e) {
            $('#example1').tableExport({ type: 'doc', escape: 'false' });
        });

    });

</script>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="titlerow bg-light-blue">
                <div class="box-header with-border">
                    <h3 class="box-title" style="color:white;">Item Inward Detail</h3>
                </div>
            </div>
            @using (Html.BeginForm("ItemInwardReport", "Reports", FormMethod.Post))
            {
                <div class="box-header with-border">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>From Date</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @if (@ViewBag.fromdate != null)
                                    {
                                        <input type="text" class="form-control" id="fromdate" name="fromdate" value=@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @ViewBag.fromdate))>
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="fromdate" name="fromdate">
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>To Date</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @if (@ViewBag.todate != null)
                                    {
                                        <input type="text" class="form-control" id="todate" name="todate" value=@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @ViewBag.todate))>
                                    }

                                    else
                                    {
                                        <input type="text" class="form-control" id="todate" name="todate">
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-block btn-info btn-sm">Show</button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row table-responsive">
                            <div class="col-sm-12">

                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 158px;">
                                                Warehouse
                                            </th>
                                            <th style="width:400px" class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                                GRN No
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 198px;">
                                                Inward Date
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                                Item
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                                GRN Qty
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">@item.SHORT_NAME</td>
                                                <td>@item.GRNNo</td>
                                                <td>@Convert.ToDateTime(item.InwardDate).ToString("dd/MM/yyyy")</td>
                                                <td>@item.ItemName</td>
                                                <td>@item.GRN_Qty</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <table>
                                    <tr id="footerExport">
                                        <td id="exportexcel"><img src="~/Content/iconsforexport/xls.png" title="Export to Excel" /></td>
                                        <td id="exportpdf"><img src="~/Content/iconsforexport/pdf.png" title="Export to PDF" /></td>
                                        <td id="exportcsv"><img src="~/Content/iconsforexport/csv.png" title="Export to CSV" /></td>
                                        <td id="exportword"><img src="~/Content/iconsforexport/word.png" title="Export to Word" /></td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script>
    $(function () {

        $('#example1').DataTable();
        $('.select2').select2();
        $('.datepicker').datepicker({
            autoclose: true
        });

        $("#fromdate").datepicker({
            dateFormat: 'dd/mm/yy',
            maxDate: 0
        });
        $("#todate").datepicker({
            dateFormat: 'dd/mm/yy',
            maxDate: 0
        });
    });
</script>