﻿@model IEnumerable<Garments_ERP.Entity.M_SupplierContactDetailsEntity>
@{
    ViewBag.Title = "ContactIndex";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="titlerow bg-light-blue">
                <div class="box-header with-border">
                    <h3 class="box-title" style="color:white;">Supplier Contact Person Details</h3>
                    <div class="col-sm-2 pull-right">
                        <a class="btn btn-block btn-success btn-sm" href="@Url.Action("Index", "Supplier")">Back</a>
                    </div>
                </div>
            </div>
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row table-responsive">
                        <div class="col-sm-12">

                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 158px;">
                                            Person Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Mobile Number
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 198px;">
                                            Email
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                            Department
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                            Fax No
                                        </th>
                                        @*<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                                CST Reg No
                                            </th>*@
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                            Telephone No
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">@item.Contactpersonname</td>
                                            <td>@item.Mobileno</td>
                                            <td>@item.Email</td>
                                            <td>
                                                @if (item.M_DepartmentMaster != null)
                                                {
                                                    @item.M_DepartmentMaster.Departmentname
                                                }

                                            </td>
                                            <td>@item.Faxno</td>
                                            <td>@item.Telephoneno</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
