﻿@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<link href="~/Content/select2.min.css" rel="stylesheet" />
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<style>
    .textcolor{
        color:white;
    }
</style>
<link href="~/Content/Custom.css" rel="stylesheet" />
@using (Html.BeginForm("Edit", "Supplier", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="box box-default">
        <div class="titlerow bg-light-blue">
            <div class="with-border panelHeader">
                <header class="box-title">Supplier Details</header>
            </div>
        </div>
        @Html.Partial("EditSupplierDetails")
    </div>
    <div class="box box-default">
        <div class="titlerow bg-light-blue">
            <div class="with-border panelHeader">
                <header class="box-title">Contact Person Details</header>
            </div>
        </div>
            @Html.Partial("EditSupplierContactPerson")
        </div>
    <div class="box box-default">
        <div class="titlerow bg-light-blue">
            <div class="with-border panelHeader">
                <header class="box-title">Bank Details</header>
            </div>
        </div>
            @Html.Partial("EditSupplierBank")
        </div>
    <div class="box-footer">
        <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Supplier")'">Cancel</button>
        <button type="submit" class="btn btn pull-right" style="margin-right:5px;" id="saveSupplier">Update</button>
    </div>
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="~/Scripts/SaveSupplier.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    function getState() {
        $("#supplierstateid").empty();
        var countryid = $("#Countryid").val();
        if (countryid != "0" && countryid != "") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Getstate", "Customer")',
                dataType: "json",
                data: "{'countryid':" + countryid + "}",
                success: function (states) {
                    $.each(states, function (i, item) {
                        $("#supplierstateid").append('<option value="' + item.ID + '">' + item.Name + '</option>');

                    });
                },
                error: function (result) {
                    alert("Error" + result.status);
                }
            });
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Getstatecode", "Customer")',
                dataType: "json",
                data: "{'stateid':" + stateid + "}",
                success: function (result) {
                    $('#supplierGSTNo').val(result);

                },
                error: function (result) {
                    alert("Error" + result.status);
                }
            });
        }
    }
    function getCity() {
        $("#suppliercityid").empty();
        var stateid = $("#supplierstateid").val();
        if (stateid != "0" && stateid != "") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("getCityNameList", "Supplier")',
                dataType: "json",
                data: "{'stateid':" + stateid + "}",
                success: function (citys) {

                    $.each(citys, function (i, city) {
                        $("#suppliercityid").append('<option value="' + city.ID + '">' + city.Name + '</option>');
                    });
                },
                error: function (result) {
                    alert("Error" + result.status);
                }
            });
        }

    }
    function checkEmail() {
        var emailstr = $("#supplieremail").val();
        if (emailstr != "") {
            var id = $("#Id");
            var param = { 'strEmail': emailstr, 'Id': id }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("IsEmailExist", "Supplier")',
                dataType: "json",
                data: JSON.stringify(param),
                success: function (value) {
                    if (value == false) {
                        swal({
                            title: "Email already exist!",
                            type: "warning",
                            showCancelButton: false,
                            //cancelButtonText: "No",
                            //cancelButtonClass: "btn-danger",
                            confirmButtonText: "OK",
                            closeOnConfirm: false
                        }, function (isConfirm) {
                            if (isConfirm) {
                                swal.close();
                                $("#supplieremail").val("");
                            }
                            //else {
                            //    $("#GSTIN").val("");
                            //}
                        })
                    }
                },
                error: function (result) {
                    alert("Error" + result.status);
                }
            });
        }
    }
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>

