﻿@model Garments_ERP.Entity.M_UserEntity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Garment ERP | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/plugins/iCheck/square/blue.css">



</head>
@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="../../index2.html"><b>Garment ERP</b></a>
            </div>
            <!-- /.login-logo  alert alert-danger alert-dismissible -->
            <div class="login-box-body">
                <p class="login-box-msg">Reset Password</p>
                @if (TempData["setMessage"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">

                        @TempData["setMessage"].ToString()
                    </div>
                }
                

                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.UserId)
                <div class="form-group">
                    <label class="control-label">New Password</label>
                    @Html.PasswordFor(x => x.Password, new { placeholder = "New Password", title = "Please enter new password", required = "", @class = "form-control" })

                    <span class="help-block small"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Confirm Password</label>
                    @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Confirm Password", title = "Re-enter password", required = "", @class = "form-control" })

                    <span class="help-block small"></span>
                </div>

                <div>
                    @*<input type="submit" value="Reset" onclick="return ValidatePassword();" class="btn btn-primary" />*@
                    <div class="row">
                        <div class="col-xs-4 pull-right">
                            <button type="submit" class="btn btn-primary btn-block btn-flat " onclick="return ValidatePassword();">Submit  </button>
                        </div>

                    </div>
                </div>



                @*<div class="form-group has-feedback">
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "Enter Email" })

                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div class="row">
                  <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat pull-right">Submit  </button>
                    </div>

                </div>*@



               



            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->
        <!-- jQuery 3 -->
        <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- iCheck -->
        <script src="~/Content/plugins/iCheck/icheck.min.js"></script>
        <script>
    function ValidatePassword() {
        var password = $("#Password").val();
        var Confirmpassword = $("#ConfirmPassword").val();
        if (password.length > 5) {

            return true;
        }
        else {
            alert("Password must have at least 5 character");
            $("#Password").focus();
            return false;
        }

        if (password == ConfirmPassword) {
            return true;
        }
        else {
            alert("Password Not matched");
            $("#Password").focus();
            return false;
        }
    }
        </script>
        <script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
        </script>
    </body>
}
</html>
