﻿
@model IEnumerable<Garments_ERP.Entity.CRM_EnquiryMasterEntity>
@{
    ViewBag.Title = "Index";
}

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="example1">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                    Enquiry No
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 120px;">
                    Enquiry Date
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 120px;">
                    Enquiry Type
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 150px;">
                    Customer
                </th>
                @*<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 185px;">
                        Style Name
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 198px;">
                        Product Name
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 125px;">
                        Prod. Attribute
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 111px;">
                        Product Qty
                    </th>*@

                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 60px;">
                    Action
                </th>
                @*<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 112px;">
                    CSS grade
                    </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr role="row" class="odd">
                    <td class="sorting_1">@data.Enquiryno</td>
                    <td>
                        @{
                            string tndt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.Enquirydate));
                            tndt = tndt.Replace('-', '/');
                        }
                        @tndt
                    </td>
                    <td>@data.EnqType.EnquiryType</td>
                    <td>@data.M_Ledgersentity.Ledger_Name</td>
                    @*<td>@data.StyleName</td>
                        <td>@data.ProductName</td>
                        <td>@data.ProductAttrib</td>
                        <td>@data.ProductQty</td>*@
                    <td>
                        <button type="button" id="ItemData" class="btn btn-info btn-sm inner" onclick="GetEnqProduct(@data.EnquiryId)" style="padding:2px 7px 5px 7px;border-radius: 4px;">Enq. Product</button>
                        @if (ViewBag.roleid != 4)
                        {
                            <a href="@Url.Action("Edit", "CustomerEnquiry", new { id = data.EnquiryId})" class="btn  btn-success btn-sm inner" data-original-title="Edit Enquiry" style="padding:2px 7px 5px 7px;border-radius: 4px;">
                                <i class="fa fa-fw fa-edit"></i>
                            </a>
                            <button type="button" id="delete" class="btn btn-danger btn-sm inner" onclick="Cancleenquiry(@data.EnquiryId)" style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                        }
                        else
                        {
                            <a href="@Url.Action("Edit", "CustomerEnquiry", new { id = data.EnquiryId})" class="btn  btn-success btn-sm inner" data-original-title="Edit Enquiry" style="padding:2px 7px 5px 7px;border-radius: 4px;">
                                <i class="fa fa-fw fa-edit"></i>
                            </a>
                            <button type="button" id="delete" class="btn btn-danger btn-sm inner" onclick="deleteenquiry(@data.EnquiryId)" style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>

<!--Image View Modal-->
<div class="modal fade" id="EnqProductmodel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">×</span>
                </button>
                <h4 class="modal-title">Enquiry Product Details</h4>
            </div>
            <form id="prodform">
                <div class="modal-body" style="padding-bottom:0;">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-striped table-bordered" id="EnqProductTab">
                                <thead>
                                    <tr style="background-color: #fccaca;">
                                        <th>Segment Type</th>
                                        <th>Item Name</th>
                                        <th>Style Name</th>
                                        <th>Style Desc.</th>
                                        <th>Style NO.</th>
                                        <th>Brand Name</th>
                                        <th>Req. Qty.</th>
                                        <th>Unit</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="padding-top:0;">
                    <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="hidepop()">Cancel</button>
                </div>

            </form>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]],
            "dom": 'Bfrtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
