﻿<div class="box-body table-responsive no-padding">
    <table class="table table-striped table-bordered" id="rawitemtable">
        <caption class="tblcaptn">Item Name <input type="hidden" id="MRItemId" name="MRItemId" /></caption>
        <thead>
            <tr style="background-color:#d5d5d5;">
                <th>
                    Item Category <a href="/ItemCategory/Create" target="_blank" class="btn btn-xs btn-success btn-flat" style="margin-left:5px;"><i class="fa fa-plus"></i></a>
                </th>
                <th>Sub Category <a href="/ItemSubCategory/Create" target="_blank" class="btn btn-xs btn-success btn-flat" style="margin-left:5px;"><i class="fa fa-plus"></i></a></th>
                <th>Item Desc</th>
                <th>Supplier <label onclick="ShowEntity(2)" class="btn btn-xs btn-success btn-flat" style="margin-left:5px;"><i class="fa fa-plus"></i></label></th>
                <th>Image</th>
                <th>Action</th>
            </tr>
            <tr>
                <th>
                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="itemcatNameid" name="itemcatNameid" />
                    <input type="hidden" id="itemcategoryid" name="itemcategoryid" />
                </th>
                <th>
                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="itemsubcategoryNameid" name="itemsubcategoryNameid" />
                    <input type="hidden" id="itemsubcategory" name="itemsubcategory" />
                </th>

                <th>
                    <input type="text" class="form-control alphaonly" id="itemdesc" name="itemdesc" />
                </th>
                <th>
                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="supplierNameid" name="supplierNameid" />
                    <input type="hidden" id="supplier" name="supplier">
                </th>
                <th>
                    <input type="file" class="form-control" name="rawimg" id="rawimg" style="display:none;">
                    <input type="button" class="btn btn-info" style="margin-top:0em;" value="Upload Image" onclick="GetImageUpload(this.id,'upload','Raw')" />
                </th>
                <th>
                    <button type="button" class="btn btn-info addrawitem">Add</button>
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <table id="hiderawitemtable">
        <tbody></tbody>
    </table>

</div>
