﻿
<div class="row">
    <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Quotation</a></li>
                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Bill Of Material</a></li>
                <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Style Costing</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Quotation Number</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="inputPassword5" value="Quot-2017-12-08-1003" readonly>
                            </div>
                            <label for="inputPassword3" class="col-sm-2 control-label">Quotation Date</label>
                            <div class="col-sm-4">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right datepicker" id="datepicker1">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Enquiry Ref No</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="inputPassword3" placeholder="">

                            </div>
                            <label for="inputPassword3" class="col-sm-2 control-label">BOM Ref No</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" rows="1" placeholder="Address" disabled></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Select Customer</label>
                            <div class="col-sm-4">
                                <select class="form-control select2" data-placeholder="Select a Item"
                                        style="width: 100%;">
                                    <option>Rushabh Late </option>
                                    <option>Sunil Kulkarni</option>
                                    <option>Sachin Tendulkar</option>
                                </select>
                            </div>
                            <label for="inputPassword3" class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-4">
                                <select class="form-control select2" data-placeholder=""
                                        style="width: 100%;">
                                    <option>aurangabad</option>
                                    <option>jalna</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Phone No.</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="inputPassword3" placeholder="Phone Number" disabled>
                            </div>
                            <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                                <input type="email" class="form-control" id="inputPassword3" placeholder="Email" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">State</label>
                            <div class="col-sm-4">
                                <select class="form-control select2" style="width: 100%;" disabled>
                                    <option selected="selected">Maharashtra</option>
                                    <option>Gujrat</option>
                                    <option>Telangana</option>

                                </select>
                            </div>
                            <label for="inputPassword3" class="col-sm-2 control-label">City</label>
                            <div class="col-sm-4">
                                <select class="form-control select2" style="width: 100%;" disabled>
                                    <option selected="selected">Aurangabad</option>
                                    <option>Mumbai</option>
                                    <option>Pune</option>

                                </select>
                            </div>
                        </div>

                        <!-- /.form-group -->
                    </div>
                    <div class="form-group">


                        <label for="inputPassword3" class="col-sm-2 control-label">Valid Upto</label>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right datepicker" id="datepicker2">
                            </div>
                        </div>

                        <label for="inputPassword3" class="col-sm-2 control-label">Remark</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control pull-right datepicker">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Select Item</label><button type="button" class="btn btn-xs btn-success btn-flat" style="margin-left:5px;">New</button>
                                    <select class="form-control select2" data-placeholder="Select a Item"
                                            style="width: 100%;">
                                        <option>Jeans</option>
                                        <option>SHirt</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label>Brand Name</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="col-md-2">
                                <label>Style No</label>
                                <input type="text" class="form-control">

                            </div>


                            <div class="col-md-2">
                                <label>Style Name</label><button type="button" class="btn btn-xs btn-success btn-flat" style="margin-left:5px;">New</button>
                                <input type="text" class="form-control">

                            </div>

                            <div class="col-md-2">
                                <label>Style Desc</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="col-md-2">
                                <label>Style Type</label>
                                <select class="form-control select2" data-placeholder="Select a Item"
                                        style="width: 100%;">
                                    <option>Men</option>
                                    <option>Women</option>

                                </select>
                            </div>


                        </div>

                        <div class="col-md-12">

                            <div class="col-md-2">
                                <label>Style Gender</label>
                                <input type="text" class="form-control" />
                            </div>


                            <div class="col-md-1">
                                Size<input type="checkbox" style="margin-left:10px;" />
                                <select class="form-control select2" data-placeholder="Select Type"
                                        style="width: 100%;" disabled>
                                    <option selected>Select Size</option>
                                    <option>M</option>
                                    <option>L</option>

                                </select>
                            </div>

                            <div class="col-md-1">

                                Type<input type="checkbox" style="margin-left:10px;" />
                                <select class="form-control select2" data-placeholder="Select Size"
                                        style="width: 100%;" disabled>
                                    <option selected>Select Type</option>
                                    <option>38</option>
                                    <option>40</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label> Style Color</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="col-md-2">

                                <label> Style Shade</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="col-md-2">
                                <label> Style Image</label>
                                <input type="file" class="form-control">

                            </div>

                            <div class="col-md-2">
                                <label> Req. Qty</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="col-md-2">

                                <label> Sampling  </label>
                                <select class="form-control select2" data-placeholder="Select Size"
                                        style="width: 100%;">
                                    <option selected>Select </option>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label>Tentive date</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label></label>
                                    <button type="submit" style="margin-top:23px;" class="btn btn-info">Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>Item code</th>
                                            <th>Item</th>
                                            <th>StyleName</th>
                                            <th>Brand</th>
                                            <th>Style desc</th>
                                            <th>Style Gender</th>
                                            <th>Size/type</th>
                                            <th>Color</th>
                                            <th>Shade</th>
                                            <th>Quantity</th>
                                            <th></th>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-6 pull-right">

                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>Currency</th>
                                        <td>
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">Select</option>
                                                <option>INR</option>
                                                <option>URO</option>

                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Exchange Rate : </th>
                                        <td>0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Cost Price : </th>
                                        <td>0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Sale Price :</th>
                                        <td>0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Subtotal:</th>
                                        <td>0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Tax:</th>
                                        <td>0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping:</th>
                                        <td>0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Total:</th>
                                        <td>0.00</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </div>
                </div>
                @*<div class="tab-pane" id="tab_2">

                        <div class="box-body">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>BOM No</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Quot Ref No</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Narration</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" height="20%" class="form-control" />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Select Style</label>
                                            <select class="form-control select2" data-placeholder="Select a Item"
                                                    style="width: 100%;">
                                                <option>Style1</option>
                                                <option>Style2</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Style Desc</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="col-md-2">
                                        <label>Item Name</label>
                                        <input type="text" class="form-control">

                                    </div>

                                    <div class="col-md-2">
                                        <label>Brand Name</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="col-md-2">
                                        <label>Style No</label>
                                        <input type="text" class="form-control">

                                    </div>

                                    <div class="col-md-2">
                                        <label>Style Gender</label>
                                        <select class="form-control select2" data-placeholder="Select a Item"
                                                style="width: 100%;">
                                            <option>Men</option>
                                            <option>Women</option>

                                        </select>
                                    </div>






                                </div>






                                <!--

                        RAW material Design
                    -->

                                <div class="col-md-12">

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Select Item Category</label>
                                            <select class="form-control select2" data-placeholder="Select a Item"
                                                    style="width: 100%;">
                                                <option>Jeans</option>
                                                <option>SHirt</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Select Item</label>
                                            <select class="form-control select2" data-placeholder="Select a Item"
                                                    style="width: 100%;">
                                                <option>Jeans</option>
                                                <option>SHirt</option>

                                            </select>
                                        </div>
                                    </div>



                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Select Unit</label>
                                            <select class="form-control select2" data-placeholder="Select a Item"
                                                    style="width: 100%;">
                                                <option>A</option>
                                                <option>b</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <label>Quantity</label>
                                        <input type="text" class="form-control">
                                    </div>


                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label></label>
                                            <button type="submit" style="margin-top:23px;" class="btn btn-info">Add</button>
                                        </div>
                                    </div>





                                    <!-- /.col -->
                                </div>

                                <div class="col-md-12">
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <th>StyleName</th>
                                                    <th>Item</th>
                                                    <th>Style Gendor</th>
                                                    <th>Type/Size</th>
                                                    <th>Item Category</th>
                                                    <th>Item code</th>
                                                    <th>Raw Item</th>

                                                    <th>Unit</th>
                                                    <th>Quantity</th>
                                                    <th></th>
                                                </tr>



                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <!-- /.row -->
                        </div>
                        <div class="box-footer">
                            <div class="col-md-2 pull-left">
                                <div class="form-group">
                                    <label>Comment</label>
                                </div>
                            </div>

                            <div class="col-md-4 pull-left">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;">Cancel</button>


                                <button type="submit" class="btn btn pull-right" style="margin-right:5px;">Save</button>
                            </div>

                        </div>

                    </div>*@

                @*<div class="tab-pane" id="tab_3">

                        <div class="box-body">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Style Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">Style1</option>
                                                <option>Style2</option>
                                                <option>Style3</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>BOM Ref No</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Select Item Category</label>
                                            <select class="form-control select2" data-placeholder="Select a Item"
                                                    style="width: 100%;">
                                                <option>Jeans</option>
                                                <option>SHirt</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Select Item</label>
                                            <select class="form-control select2" data-placeholder="Select a Item"
                                                    style="width: 100%;">
                                                <option>Jeans</option>
                                                <option>SHirt</option>

                                            </select>
                                        </div>
                                    </div>



                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Select Unit</label>
                                            <select class="form-control select2" data-placeholder="Select a Item"
                                                    style="width: 100%;">
                                                <option>A</option>
                                                <option>b</option>

                                            </select>
                                        </div>
                                    </div>




                                    <div class="col-md-2">
                                        <label>Quantity</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="col-md-2">
                                        <label>Cost</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label></label>
                                            <button type="submit" style="margin-top:23px;" class="btn btn-info">Add</button>
                                        </div>
                                    </div>





                                    <!-- /.col -->
                                </div>

                                <div class="col-md-12">
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <th>Style Name</th>
                                                    <th>Item Category</th>
                                                    <th>Item code</th>
                                                    <th>Item</th>

                                                    <th>Unit</th>
                                                    <th>Quantity</th>
                                                    <th>Cost</th>
                                                    <th></th>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>



                            </div>
                            <!-- /.row -->
                        </div>


                        <div class="row">
                            <div class="col-md-6 pull-right">

                                <div class="table-responsive">
                                    <table class="table">

                                        <tr>
                                            <th>Manifacturing Cost</th>
                                            <td>
                                                <input type="text" class="form-control pull-right" id="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Margin :</th>
                                            <td>
                                                <input type="text" class="form-control pull-right" id="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td>
                                                <input type="text" class="form-control pull-right" id="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>Total Style Qty : </th>
                                            <td><input type="text" class="form-control"></td>
                                        </tr>
                                        <tr>
                                            <th>Total Enquiry Cost : </th>
                                            <td><input type="text" class="form-control"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="box-footer">
                            <div class="col-md-2 pull-left">
                                <div class="form-group">
                                    <label>Comment</label>
                                </div>
                            </div>

                            <div class="col-md-4 pull-left">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;">Cancel</button>


                            <button type="submit" class="btn btn pull-right" style="margin-right:5px;">Save</button>


                        </div>





                    </div>*@

            </div>
        </div>
    </div>
</div>
