﻿@model Garments_ERP.Entity.M_CustomerMasterEntity
<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }

</style>
<div class="box-body">
    <div class="row">

        <div class="col-md-12">
            <div class="col-md-2">
                <div class="required">
                    <label>Address</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="40" class="form-control" id="address" name="contactperson" maxlength="50" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="required">
                    <label>Country</label>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="form-group">

                    @Html.DropDownList("countryid", (IEnumerable<SelectListItem>)ViewBag.countrylist, "---Select Country---", new { @class = "form-control select2", @onchange = "getState()" })
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                <div class="required">
                    <label>State</label>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DropDownList("addressstateid", (IEnumerable<SelectListItem>)ViewBag.statelist, "---Select State---", new { @class = "form-control select2", @onchange = "getCity()" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="required">
                    <label>City</label>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DropDownList("addresscityid", (IEnumerable<SelectListItem>)ViewBag.citylist, "---Select City---", new { @class = "form-control select2" })
                </div>
            </div>
        </div>

        <div class="col-md-12" id="gstno">
            <div class="col-md-2">
                <label>GST No</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">

                    @Html.TextBoxFor(m => m.GSTNo, new { @class = "form-control", @id = "customergstno", @style = "text-transform: uppercase", @maxLength = "15", @onchange = "verifyGSTIN()" })
                    @* @Html.ValidationMessageFor(model => model.GSTNo, "", new { @class = "text-red" })*@
                </div>
            </div>


        </div>
    </div>
</div>
<div class="box-footer">
    <button type="button" class="btn btn-info pull-left" style="margin-right:5px;" id="addaddress" onclick="addaddressdetail()">Add More</button>
</div>
<input type="hidden" id="AddressList" name="AddressList" />
<input type="hidden" id="RowNo" name="RowNo" value="0"/>
<div class="box-footer">
    <div class="table-responsive">
        <table class="table" id="contactaddresstable">
            <thead>
                <tr class="titlerow bg-blue">
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>GST No.</th>
                    <th>Checked Default</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="contactaddresstablebody"></tbody>
        </table>
    </div>
</div>

