﻿@model Garments_ERP.Entity.M_CustomerContactDetailsEntity
<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }

</style>
<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="required">
                    <label>Contact Person</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" class="form-control" id="contactperson" name="contactperson" maxlength="60"/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="required">
                    <label>Mobile No #</label>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" class="form-control" maxlength="10" id="contactpersonmobile" name="contactpersonmobile" onkeypress="return isNumber(event)" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <label>Telephone No #</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" class="form-control" id="contactpersontelephone" name="contactpersontelephone" maxlength="10"/>
                </div>
            </div>
            <div class="col-md-2">
                <label>Email</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    
                    <input type="text" height="20" class="form-control" id="contactpersonemail" name="contactpersonemail" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <label>Fax No #</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" class="form-control" id="contactpersonfaxno" name="contactpersonfaxno" maxlength="20"/>
                </div>
            </div>
            <div class="col-md-2">
                <label>Department</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DropDownList("contactpersondepartmentid", (IEnumerable<SelectListItem>)ViewBag.deptlist, "---Select Department---", new { @class = "form-control select2" })
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <label>Remark</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <textarea class="form-control" id="contactpersonremark" name="contactpersonremark" maxlength="80"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-footer">
    <button type="button" class="btn btn-info pull-left" style="margin-right:5px;" id="addcontacts">Add More</button>
</div>
<input type="hidden" id="ContactList" name="ContactList" />

<div class="box-footer">
    <div class="table-responsive">
        <table class="table" id="contactstable">
            <thead>
                <tr class="titlerow bg-blue">
                    <th>Contact Person</th>
                    <th>Mobile No #</th>
                    <th>Telepnone No #</th>
                    <th>Email</th>
                    <th>Fax No</th>
                    <th>Department</th>
                    <th>Remark</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="contactstablebody"></tbody>
        </table>
    </div>
</div>
