﻿@model Garments_ERP.Entity.M_CustomerMasterEntity


@Html.HiddenFor(m => m.Id)
<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <label>Customer Name<i class="text-red">*</i></label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.contactname, new { @class = "form-control", @id = "Customername", @maxlength = "60" })
                    @Html.ValidationMessageFor(model => model.contactname, "", new { @class = "text-danger" })
                    @*<input type="text" height="20" class="form-control" id="Customername" name="Customername" />*@
                </div>
            </div>
            <div class="col-md-2">
                <label>TIN No<i class="text-red">*</i></label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Tinno, new { @class = "form-control", @id = "CustomerTINNo", @maxlength = "30" })
                    @*<input type="text" height="20" class="form-control" id="CustomerTINNo" name="CustomerTINNo" />*@
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                <label>Customer Type</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DropDownList("Customertypeid", (IEnumerable<SelectListItem>)ViewBag.typelist, "---Select Type---", new { @class = "form-control select2" })
                    @*<select class="form-control select2" id="Customertypeid" name="Customertypeid"></select>*@
                </div>
            </div>
            <div class="col-md-2">
                <label>Phone #<i class="text-red">*</i></label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @id = "Customerphone",@maxlength="10" })
                    @*<input type="text" height="20" class="form-control" id="Customerphone" name="Customerphone" onkeypress="return isNumber(event)" />*@
                </div>
            </div>
        </div>
      
       
        <div class="col-md-12">
            <div class="col-md-2">
                <label>Email</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "Customeremail", @onblur = "checkEmail()", @maxlength = "20" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-red" })
                    @*<input type="text" height="20" class="form-control" id="Customeremail" name="Customeremail" onblur="checkEmail()" />*@
                </div>
            </div>
            <div class="col-md-2">
                <label>Remark</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Remark, new { @class = "form-control", @id = "remark", @maxlength = "10" })
                    @*<input type="text" height="20" class="form-control" id="remark" name="remark" />*@
                </div>
            </div>
        </div>
        <div class="col-md-12" >

        <div class="col-md-2">
                <label>CST Reg No</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.CSTRegno, new { @class = "form-control", @id = "CustomerCSTNo", @maxlength = "50" })
                    @*<input type="text" height="20" class="form-control" id="CustomerCSTNo" name="CustomerCSTNo" />*@
                </div>
            </div>            
        </div>


    </div>
</div>
