﻿@model Garments_ERP.Entity.M_ProcessingStatusEntity

<div class="row clearfix">
    <div class="col-md-2">
        <div class="form-group">
            <label>Status Name</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.ProcessingStatusName, new { @class = "form-control" })
            </div>
            
            @Html.ValidationMessageFor(model => model.ProcessingStatusName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label>Status Description</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                @Html.TextAreaFor(model => model.ProcessingStatusdesc, new { @class = "form-control" })
            </div>
            
        </div>
    </div>

</div>


@*<div class="box-footer">
        <button type="submit" class="btn btn pull-left" style="margin-right:5px;" id="saveprrostatus">Save</button>
        <button type="button" class="btn btn btn-danger pull-left" style="margin-right:5px;" id="btncancel" onclick="location.href='@Url.Action("Index", "ProcessingStatus")'">Cancel</button>

    </div>*@
