﻿@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
    var cururl = Request.Url.Authority;//"localhost:2423
    string styleimgpath_ = string.Empty;
    string rawimgpath_ = string.Empty;
    string itemimgpath_ = string.Empty;
    if (cururl.Contains("localhost"))
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
    else
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />
<link href="~/Content/photoGalleryStyle.css" rel="stylesheet" />


<style>

    .pd {
        font-family: Verdana;
    }
</style>
<style type="text/css">

    ul {
        margin: 0;
    }
</style>

@using (Html.BeginForm("Create", "CustomerPO", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{

    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Customer Management</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "CustomerPO")">Customer PO Details</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "CustomerPO")'">Cancel</button>

                <button type="submit" class="btn btn btn-success pull-right" style="margin-right:5px;" id="savepo">Save</button>
            </div>

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Purchase Order Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">ballot</i> Product Details
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#delivery_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">ballot</i> Delivery Schedule
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="">
                                                <label>PO No</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" value="@ViewBag.pono" name="POno" readonly>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="">
                                                <label>PO Date</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right datepicker disabled" id="POdate" name="POdate" readonly>
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>


                                    </div>


                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Select Customer</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="custnameid" name="custnameid" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" onchange="getCustomerdetails()" />
                                                </div>

                                                <input type="hidden" id="customerid" name="customerid" />

                                                @*getAddress()*@

                                                <span id="customermsg" class="help-block" style="color:red;"></span>
                                            </div>

                                        </div>

                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Address</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" id="customeraddress" name="customeraddress" disabled></select>
                                                <input type="hidden" id="custaddid" name="custaddid" />
                                            </div>
                                        </div>

                                    </div>



                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="">
                                                <label for="" class="control-label">Email</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" id="email" placeholder="Email" readonly>
                                                    <input type="hidden" class="form-control" id="Hemail" name="Hemail">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="">
                                                <label for="" class="control-label">Phone No</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" id="phone" placeholder="Phone Number" readonly>
                                                    <input type="hidden" class="form-control" id="Hphone" name="Hphone">
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Quotation No</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" style="width: 100%;" id="quotrefno" name="quotrefno" onchange="getquotdetails(this.id)"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Quo Date</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right datepicker" id="quotdate" name="quotdate">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required"><label>Delivery Date</label></div>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" id="tentivedate" name="tentivedate" />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-2 pull-left">
                                            <div class="form-group">
                                                <label>Delivery Remark</label>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pull-left">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" name="remark" id="remark">
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix approval" style="display:none;">
                                        <div class="col-md-2">
                                            <div class="required"><label>Approval Status</label></div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" id="approvalstatus" name="approvalstatus">
                                                    <option>Select</option>
                                                    <option selected="selected" value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="required"><label>Approval Date</label></div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" id="approvaldate" name="approvaldate" />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>

                                        </div>
                                    </div>

                                    <input type="hidden" id="isselectenquiry" value="0" />

                                    <div class="row clearfix">
                                        <div class="col-md-2 pull-left approvalComment" style="display:none;">
                                            <label>Approval Comment</label>
                                        </div>

                                        <div class="col-md-4 pull-left approvalComment" style="display:none;">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea class="form-control" id="comment" name="comment"></textarea>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div>
                                                <label>Segment Type</label>
                                            </div>
                                            <select class="form-control select2" data-placeholder="Select" id="segmenttypeid" name="segmenttypeid" disabled></select>
                                            <input type="hidden" name="Hsegmenttypeid" id="Hsegmenttypeid" />
                                            <span id="segmentmsg" class="help-block" style="color:red;"></span>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="required">
                                                <label>Select Item</label><a href="/Item/Create" target="_blank" class="btn btn-xs btn-success btn-flat" style="margin-left:5px;"><i class="fa fa-plus"></i></a>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid disabled" readonly data-val="true" value="" autocomplete="off" id="itemnameid" name="itemnameid" onchange="getItemdetail()" />

                                                </div>
                                            </div>
                                            <input type="hidden" id="itemid" name="itemid" />
                                            <input type="hidden" id="hidIsReadyMate" name="hidIsReadyMate" />
                                            <span id="itemmsg" class="help-block" style="color:red;"></span>

                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="required">
                                                <label>Style Name</label><a href="/Style/Create" target="_blank" class="btn btn-xs btn-success btn-flat" style="margin-left:5px;"><i class="fa fa-plus"></i></a>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">


                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid disabled" readonly data-val="true" value="" autocomplete="off" id="stylenameid" name="stylenameid" onchange="GetStyleData()" />

                                                </div>
                                            </div>
                                            <input type="hidden" id="styleid" name="styleid" />

                                            <span id="stylemsg" class="help-block" style="color:red;"></span>

                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label>Style Desc</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control alphaonly disabled" name="styledesc" id="styledesc" readonly />
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label>Style No</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" name="styleno" id="styleno" readonly />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label>Brand Name</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control alphaonly disabled" readonly name="brand" id="brand">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="required">
                                                <label>Total Req.Qty</label>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="reqqty" name="reqqty" onkeyup="QuationCal()" readonly>
                                                </div>
                                            </div>
                                            <span id="qtymsg" class="help-block" style="color:red;"></span>

                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input type="file" class="form-control" name="styleimg" id="styleimg" style="display:none;" multiple>
                                            <input type="hidden" name="HstyleImageId" id="HstyleImageId" value="" />
                                            <input type="hidden" id="styleimage_Id" name="styleimage_Id" value="" />
                                            <div class="form-group">
                                                <input type="button" class="btn btn-info" style="margin-top:2em;" value="Upload Image" onclick="GetImageUpload(this.id,'upload','Style')" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">

                                        <input type="hidden" id="AttributeId" name="AttributeId" />
                                        <input type="hidden" id="AttributList" name="AttributList" />
                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <div class="table table-responsive">
                                                    <table class="table table-striped" id="AttributeTable">
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div id="stylegrid" style="display:none;">
                                        <div class="box-footer">
                                            <div class="col-md-1 ">
                                                <button type="button" style="margin-top:15px;" class="btn btn-info addstyle">Add</button>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <div class="col-md-12" style="margin-bottom:30px;">
                                                <div class="box-body table-responsive no-padding">
                                                    <table id="hidestyletable">
                                                        <tbody></tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="row clearfix" style="display:none;">

                                        <div class="col-md-2">
                                            <div class="required"><label>Cost Price :</label></div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="costprice" name="costprice" value="0" readonly />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="required"><label>Sale Price :</label></div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="saleprice" name="saleprice" value="0" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix" style="display:none;">

                                        <div class="col-md-2">
                                            <div class="required"><label>Subtotal:</label></div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="subtotal" name="subtotal" value="0" readonly />
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="required">

                                                <label>Tax (%) :</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="tax" name="tax" value="0" onchange="calculatetotal();" readonly />


                                                </div>
                                                <p><label>GST Amount :</label><label id="lblGSTamount" name="lblGSTamount" style="font-weight:bold;"></label></p>

                                            </div>
                                        </div>

                                    </div>


                                    <div class="row clearfix">

                                        <div class="col-md-2">
                                            <div><label>Additional Charge :</label></div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.DropDownList("otherchrge", (IEnumerable<SelectListItem>)ViewBag.OtherCharge, "Select", new { @class = "form-control select2", @onchange = "ShowOtherCharge()" })
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="required"><label>Total :</label></div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="total" name="total" value="0" readonly />
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="OtherChargeDetails" class="table table-striped" style="display:none;">
                                                    <thead>
                                                        <tr class="bg-info rowtitle">
                                                            <th>Additional Charge Name</th>
                                                            <th>Amount</th>
                                                            <th>GST(%)</th>
                                                            <th>GST Amount</th>
                                                            <th>Total</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix" id="OC_GrandTotal_id" style="display:none;">

                                        <div class="col-md-2">
                                          
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="hidden" id="otherchargestr" name="otherchargestr" />
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="required"><label>Grand Total :</label></div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="Grandtotal" name="Grandtotal" value="0" readonly />
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- Tab for delivery schedule- added by Ramesh take on date 23-Jan-2020-->
                                <div role="tabpanel" class="tab-pane fade" id="delivery_with_icon_title">

                                    <div class="row clearfix">
                                        @*<div class="col-md-2">


                                            </div>*@
                                        <div class="col-md-3">
                                            <div class="required"><label>Delivery Item</label></div>
                                            <div class="form-group">

                                                <select name="Item_ID" id="Item_ID" class="form-control select2">
                                                    <option value="0">--Select--</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="required"><label>Delivery Date</label></div>
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" id="Delivery_Schedule_Date" name="Delivery_Schedule_Date" autocomplete="off" />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                        @*<div class="col-md-2">


                                            </div>*@
                                        <div class="col-md-2">
                                            <div class="required"><label>Quantity</label></div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="Delivery_Qty" name="Delivery_Qty" onkeypress="return isNumberKey(event,this.id)" onchange="preventUser();" autocomplete="off" />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div><label>Comments</label></div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea class="form-control" id="Delivery_Comment" name="Delivery_Comment"></textarea>
                                                    @*<input type="text" class="form-control" id="Delivery_Comments" name="Delivery_Comments" />*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-info" id="btnAddDelivery">Add</button>

                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="DeliveryScheduleDetails" class="table table-striped">
                                                    <thead>
                                                        <tr class="bg-info rowtitle">
                                                            <th>Delivery Item</th>
                                                            <th>Delivery Date</th>
                                                            <th>Delivery Qty</th>
                                                            <th>Comments</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                    <tfoot></tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Tab for delivery schedule>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <input type="hidden" name="sizeliststr" id="sizeliststr" />
    <input type="text" name="issampling" id="issampling" style="display:none;">
    <input type="hidden" name="styleliststr" id="styleliststr" />
    <input type="hidden" name="rawitemliststr" id="rawitemliststr" />
    <input type="hidden" name="issampling" id="issampling" />
    <input type="text" name="issampling" id="issampling" style="display:none;">
    <input type="hidden" name="sizeliststr" id="sizeliststr" />
    <input type="hidden" name="isapprovalstatus" id="isapprovalstatus" />
    <input type="hidden" name="enquiryno" id="enquiryno" />
    <input type="file" name="stylefile" id="stylefile" style="display:none;" />
    <input type="file" name="rawimglist" id="rawimglist" style="display:none;" multiple />

    <input type="hidden" name="po_delivery_schedules" id="po_delivery_schedules" />
}

<!--Image View Modal-->
<div class="modal fade" id="UploadPreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">×</span>
                </button>
                <h4 class="modal-title">Preview Image</h4>
            </div>
            <form id="prodform">
                <div class="modal-body" style="padding-bottom:0;">
                    <div class="box box-default">

                        <div class="box-body with-border">
                            <div class="row clearfix" id="uploadid">
                                <div class="col-sm-4 col-xs-6">
                                    <span>Select Image</span>
                                </div>
                                <div class="col-sm-6  col-xs-6" style="margin:0;">
                                    <input type="hidden" id="noid" name="noid" value="" />
                                    <input type="hidden" id="nameid" name="nameid" value="" />
                                    <input type="hidden" id="typeid" name="typeid" value="" />
                                    <input type='file' id='ItemAttrimages' name='ItemAttrimages' class='form-control' multiple />
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="gallery-container">
                                        <div class="pagi-container imgpre" id="img_preview">

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="padding-top:0;">

                    <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="hidepop()">Cancel</button>
                    <button type="button" class="btn btn pull-right" style="margin-right:5px;" id="Saveimage" onclick="Savehide()">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-default" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            @Html.Partial("~/Views/CustomerEnquiry/CreateCustomer.cshtml")

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-style" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            @Html.Partial("~/Views/Style/CreateStyle_Partial.cshtml")
        </div>
    </div>
</div>
<div class="modal fade" id="modal-item" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            @Html.Partial("~/Views/CustomerEnquiry/CreateItem.cshtml")
        </div>
    </div>
</div>

<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>


<script>

    function showclose(div) {
        // $('.imgClose', div).show();
    }
    function hideclose(div) {
        // $('.imgClose', div).hide();
    }
    $(document).ready(function () {

        var roleid = $("#roleid").val();
        if (parseInt(roleid) != 4) {
            $(".approval").show();
            $(".approvalComment").show();
        }
        else {
            $(".approval").hide();
            $(".approvalComment").hide();
        }

        $('.select2').select2();
        $('.select2').width("100%");

        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "Display:none;");

        if (window.File && window.FileList && window.FileReader) {
            fnsetimgpreve("styleimg", "imgpreview");
            fnsetimgpreve("rawimg", "imgpreviewraw");
        } else { alert("Your browser doesn't support to File API") }





    });



    function fnsetimgpreve(filecontrol, previecontrol) {
        $("#" + filecontrol).on("change", function (e) {

            $("#" + previecontrol).empty();
            var files = e.target.files,
                filesLength = files.length;
            if (filecontrol == "styleimg") {


            }
            for (var i = 0; i < filesLength; i++) {
                var f = files[i]

                var fileReader = new FileReader();
                fileReader.onload = (function (e) {
                    var file = e.target;
                    var imgstr = "<li> <img class='imageThumb' src='" + e.target.result + "'  /></li>";
                    $("#" + previecontrol).append(imgstr);
                });
                fileReader.readAsDataURL(f);
            }
        });

    }
</script>
<script>
    var ErrorMessage = "";

    function setswal(msg) {
        if (ErrorMessage.length > 0) {
            ErrorMessage += "\n" + msg;
        } else { ErrorMessage = msg; }
    }


    function calculatetotal() {
        debugger;
        var subtotal = $('#subtotal').val();
        var tax = $('#tax').val();
        var total = parseFloat(subtotal) * parseFloat(tax) / 100;
        $('#lblGSTamount').text(total);
        var totalamt = parseFloat(subtotal) + total;
        $('#total').val(totalamt);
        $('#Grandtotal').val(totalamt);
    }



    $("#savepo").on("click", function () {
        debugger;
        ErrorMessage = "";

        var segmenttypeid = $("#segmenttypeid").val();


        var styleid = $("#styleid").val();
        var itemid = $("#itemid").val();

        var custaddress = $('#customeraddress').val();
        //var isvalid = true;
        if ($('#sampleyes').prop("checked") == true) {
            $("issampling").val("yes");
        }
        else {
            $("issampling").val("no");
        }

        var custid = $('#customerid').val();
        var rowCountstyle = $('#styletable tr').length;
        var rowcountrawtable = $('#rawitemtable tr').length;

        if (custid == "0") {
            // $('#customermsg').text("select customer");
            setswal("Select Customer");
            isvalid = false;
        }
        if (custaddress == "0" || custaddress == "" || custaddress == null) {
            setswal("Select Address");
            isvalid = false;
        }

        if (segmenttypeid == "0" || segmenttypeid == "") {
            segmenttypeid == "0";
        }

        //if (segmenttypeid == "0") {
        //    setswal("Please Select Segment Type.");
        //    isvalid = false;
        //}
        if (styleid == "0") {
            setswal("Please Select Style.");
            isvalid = false;
        }
        if (itemid == "0") {
            setswal("Please Select Item.");
            isvalid = false;
        }
        var approv = $("#approvalstatus").val();
        if (approv == "Select") {
            setswal("Please select Approval Status.");
            isvalid = false;

        }
        // else {

        if (ErrorMessage.length > 0) {

            swal({
                title: 'Error',
                text: ErrorMessage,
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: false

            });
            isvalid = false;
        }
        else {
            addstyle();

            var str = "";
            var rawitemstr = "";
            var $dataRows = $("#hidestyletable tr:not('.titlerow')");
            var rowlenght = $dataRows.length;
            var stylerowcount = 0;
            //var stylerowCount = $('#maintable2 tr').length;
            $dataRows.each(function () {
                count = 0;
                stylerowcount++;
                var Aleng = $(this).children('td').length;
                $(this).find('.stylerow').each(function (i) {
                    var itemlist = ($(this).val());  //here get td value
                    count++;

                    if (itemlist != undefined) {

                        if (count == Aleng) {
                            str += itemlist;
                        }
                        else {
                            str += itemlist + "~";
                        }
                    }

                });

                if (stylerowcount == rowlenght) {


                }
                else {
                    str += "#";
                }

            });

            $('#styleliststr').val(str);


            var $OC_dataRows = $("#OtherChargeDetails tr:not('.rowtitle')");
            var OClenght = $OC_dataRows.length;
            var Ocrowcount = 0;
            var str = "";
            if (OClenght > 0) {
                $OC_dataRows.each(function (i) {
                    count = 0;
                    Ocrowcount++;
                    var Aleng = $(this).children('td').length;
                    $(this).find('.ocdata').each(function (i) {
                        var itemlist = ($(this).val());
                        count++;
                        itemlist = itemlist == "select" || itemlist == "" ? 0 : itemlist;
                        if (itemlist != undefined) {

                            if (count == Aleng) {
                                str += itemlist;
                            }
                            else {
                                str += itemlist + "~";
                            }
                        }
                    });

                    if (Ocrowcount == OClenght) {
                    }
                    else {
                        str += "#";
                    }
                });
                $("#otherchargestr").val(str);
            }
            else {
                $("#otherchargestr").val("");
            }


            createPODeliveryStr();

            isvalid = true;

        }
        return isvalid;

    });




    function addstyle() {

        var segmenttype = document.getElementById("segmenttypeid");
        var selectedsegment = segmenttype.options[segmenttype.selectedIndex].text;
        var segmenttypeid = $("#segmenttypeid").val();

        //var stylename = document.getElementById("styleid");
        //var selectedstyle = stylename.options[stylename.selectedIndex].text;
        //var styleid = $("#styleid").val();

        var selectedstyle = $("#stylenameid").val();
        var styleid = $("#styleid").val();

        //var item = document.getElementById("itemid");
        //var selectedItem = item.options[item.selectedIndex].text;
        //var itemid = $("#itemid").val();



        var styleno = $("#styleno").val();
        var styledesc = $("#styledesc").val();
        var brand = $("#brand").val();

        var styleimg = $("#styleimg").val();
        var reqqty = $("#reqqty").val();

        var rowCount = 0;

        var i = $('#hidestyletable tr').length;

        if (segmenttypeid == "0" || segmenttypeid == "") {
            segmenttypeid == "0";
        }

        //if (segmenttypeid == "") {
        //    // $('#segmentmsg').text("select segment type");
        //    setswal("Select Segment Type");
        //}
        if (styleid == "") {
            // $('#stylemsg').text("select style");
            setswal("Select Style");
        }
        if (itemid == "") {
            //$('#itemmsg').text("select item");
            setswal("Select Item");
            // alert(itemid);
        }
        if (reqqty == "") {
            //$('#qtymsg').text("enter require quantity");
            setswal("Enter Require Quantity");
        }
        else {


            $('#segmentmsg').text("");
            $('#stylemsg').text("");
            $('#itemmsg').text("");
            $('#stylecolormsg').text("");
            $('#styleshademsg').text("");
            $('#qtymsg').text("");
            //segment  item style brand stydesc color shade image reqqty sizeratio
            var lengthofsize = $('#AttributeTable tr').length;
            var j = 0;
            // for (j = 0; j < lengthofsize; j++) {
            var rawsizerowcount = 0;
            var $dataRows3 = $("#AttributeTable tr:not('.attrbtab1')");
            var sizerowlenght = $dataRows3.length;
            var sizerowstr = "";

            $dataRows3.each(function () {
                debugger;
                var sizearray = [];
                //get row of sizetable
                var attributeval = "";
                var ReqQty = "";
                var Rate = "";
                var sizeid = "";
                var Sellrate = "";
                var GST = "";
                var taxval = "";
                var tot = "";
                var imgcount = "";

                $(this).children('td').each(function (i) {
                    debugger;
                    $(this).find(".hid2").each(function () {
                        if (i == 0) {
                            attributeval = this.value;
                        }
                        else {
                            attributeval = attributeval + "," + this.value;
                        }
                    });

                    $(this).find(".IAReqQty").each(function () {
                        ReqQty = this.value;
                    });

                    $(this).find(".IARate").each(function () {
                        Rate = this.value;
                    });

                    $(this).find(".IAsizeid").each(function () {
                        sizeid = this.value;
                    });
                    $(this).find(".IASellRate").each(function () {
                        Sellrate = this.value;
                    });
                    $(this).find(".IAGSTCharge ").each(function () {
                        GST = this.value;
                    });
                    $(this).find(".IATax").each(function () {
                        taxval = this.value;
                    });
                    $(this).find(".IAtotal").each(function () {
                        tot = this.value;
                    });
                    $(this).find(".IAImgcount").each(function () {
                        imgcount = this.value;
                    });



                });
                var attributeid = $("#AttributeId").val();
                hidestylediv = '<tr class="data-contact-person odd" id="' + (i + 1) + '" value="' + (i + 1) + '" data="' + (i + 1) + '">' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + segmenttypeid + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + styleid + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + itemid + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + styledesc + '" class="form-control stylerow"></td>' +
                    ' <td style="padding-right:10px;"><input type="hidden" value="' + brand + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + styleimg + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + attributeid + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + attributeval + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + ReqQty + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + Rate + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + sizeid + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + Sellrate + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + GST + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + taxval + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + tot + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + imgcount + '" class="form-control stylerow"></td>' +
                    '</tr>';
                $('#hidestyletable').append(hidestylediv);

            });



            // }
        }
    }


    function GetDateFormateChage(DateString) {
        DateString = DateString.substr(0, DateString.lastIndexOf("T"));
        var splitString = DateString.split('-');
        DateString = splitString[1] + "/" + splitString[2] + "/"+splitString[0];
        return DateString
    }



    function getquotdetails(id) {
        var quotid = $('#quotrefno').val();
        var quot = $("#quotrefno option:selected").text();

        $('#quotno').val(quot);
        if (quotid != 0 && quotid != "" && quotid != null)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getquotationdetails", "Quotation")',
                data: "{'id':" + quotid + "}",
                contentType: "application/json;",
                dataType: "json",
                success: function (result) {
                    debugger;
                    //var result_ = jQuery.parseJSON(result);
                    result = JSON.parse(result);
                    // alert("got enquiry");
                    // $("#rawitemtable tr:gt(0)").remove();
                    // $('#hiderawitemtable').remove();

                    result.Quotationdate = GetDateFormateChage(result.Quotationdate);
                    result.Approvaldate = GetDateFormateChage(result.Approvaldate);
                    result.Createddate = GetDateFormateChage(result.Createddate);
                    result.Tentivedate = GetDateFormateChage(result.Tentivedate);
                    var Isreadymade = result.IsReadmade != null && result.IsReadmade > 0 ? result.IsReadmade : 0;
                    $("#hidIsReadyMate").val(Isreadymade);
                    if (result.POOtherChargeEntity != null) {
                        if (result.POOtherChargeEntity.length > 0) {
                            var j = 0;
                            $("#OtherChargeDetails").show();
                            $("#OC_GrandTotal_id").show();
                            $('#OtherChargeDetails > tbody').empty();
                            $.each(result.POOtherChargeEntity, function (k, ocdata) {
                                var otherchargeid = "otherchargeid" + j;
                                var OC_Amount = "OC_Amount" + j;
                                var OC_GSTid = "OC_GSTid" + j;
                                var hidgst = "hidgst" + j;
                                var OC_GSTAmt = "OC_GSTAmt" + j;
                                var OC_total = "OC_total" + j;
                                var ocTid = "ocTid" + j;
                                var GST = ocdata.GST == "" || ocdata.GST == null ? 0 : parseFloat(ocdata.GST);
                                var OC_amount = parseFloat(ocdata.OtherChargeValue);
                                var gstamount = parseFloat(OC_amount) * parseFloat(GST) / 100;
                                var tot = parseFloat(gstamount) + parseFloat(OC_amount);

                                var row = '<tr><td>' + ocdata.OCMaster.POOtherChargeName + '<input type="hidden" class="ocdata" id="' + otherchargeid + '" name="' + otherchargeid + '" value="' + ocdata.OtherChargeId + '" /></td>' +
                                    '<td>' + OC_amount + '<input type="hidden" class="form-control ocdata" value="' + ocdata.OtherChargeValue + '" id="' + OC_Amount + '" name="' + OC_Amount + '" onchange="OC_Cal(this.id)" onkeypress="return isNumber(event)" style="display:none;" readonly /></td>' +
                                    '<td>' + GST + '<input type="hidden" class="ocdata" value="' + GST + '" id="' + hidgst + '" name="' + hidgst + '" /></td>' +
                                    '<td>' + gstamount + '<input type="hidden" value="' + gstamount + '" class="form-control ocdata" id="' + OC_GSTAmt + '" name="' + OC_GSTAmt + '" onkeypress="return isNumber(event)" readonly /></td>' +
                                    '<td>' + tot + '<input type="hidden" value="' + tot + '" class="form-control ocdata" id="' + OC_total + '" name="' + OC_total + '" onkeypress="return isNumber(event)" readonly /></td>' +
                                    '<td><a id="btnOCDelete" class="deleteOC btn-danger btn-xs"><i class="fa fa-fw fa-trash"></i></a><input type="hidden" class="ocdata" id="' + ocTid + '" name="' + ocTid + '" value="' + ocdata.Id + '" /></td></tr>';
                                $('#OtherChargeDetails > tbody').append(row);
                                j++;
                            });
                        }
                        else {
                            $("#OtherChargeDetails").hide();
                        }
                    }

                    $("#tentivedate").val(result.Tentivedate);

                    $("#quotdate").val(result.Quotationdate);

                    $('#segmenttypeid').val(result.style.Segmenttypeid);
                    $('#Hsegmenttypeid').val(result.style.Segmenttypeid);

                    $('#segmenttypeid').trigger('change');

                    $('#styleid').val(result.style.Styleid);
                    $('#stylenameid').val(result.style.styleM.Stylename);

                    $('#isselectenquiry').val("1");


                    $('#itemnameid').val(result.style.itemM.ItemName);
                    $('#itemid').val(result.style.Itemid);
                    getItemdetail();

                    $('#styleno').val(result.style.Styleno);

                    $('#styledesc').val(result.style.Styledesc);

                    $('#brand').val(result.style.Brand);

                    $('#reqqty').val(result.style.Totalqty);

                    $('#costprice').val(result.Costprice);
                    $('#saleprice').val(result.SalePrice);

                    $('#tax').val(result.Tax);
                    if ($('#tax').val() == "")
                        $('#tax').val("0");

                    $('#subtotal').val(result.Subtotal);
                    $('#total').val(result.Total);
                    $('#Grandtotal').val(result.Total);

                    var total = parseFloat(result.Subtotal) * parseFloat(result.Tax) / 100;
                    $('#lblGSTamount').text(total);

                    var m = 0;
                    var spath = "";
                    var sImagepath = "";
                    $.each(result.imgelist, function (d, data) {

                        if (d == 0) {
                            spath = "@styleimgpath_/" + data.Quotationimg;
                            sImagepath = data.Quotationimg;
                        }
                        else {
                            spath = spath + "," + "@styleimgpath_/" + data.Quotationimg;
                            sImagepath = sImagepath + "#" + data.Quotationimg;
                        }
                    });
                    $("#styleimage_Id").val(spath);
                    $("#HstyleImageId").val(sImagepath);

                    $('#isselectenquiry').val("0");

                    
                },
                failure: function (response) {
                    alert(response.d);
                }
            });

        }

    }


    function getCustomerdetails() {
        var startrow = 0;
        var startrowvalue = "---Select----";
        var custid = $("#customerid").val();
        $("#quotrefno").empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("getquotnobycustomerid", "quotation")',
            data: "{'id':" + custid + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                $("#quotrefno").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(result, function (i, bussiness) {
                    $("#quotrefno").append('<option value="' + bussiness.Id + '">' + bussiness.QuotationNo + '</option>');
                });

            },
            failure: function (response) {
                alert(response.d);
            }
        });

        getAddress();

    }

    function getinfo() {
        var custaddid = $("#customeraddress").val();
        if (custaddid != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getcustomerdetails", "quotation")',
                data: "{'id':" + custaddid + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    result = JSON.parse(result);
                    $.each(result, function (i, item) {
                        $('#email').val(item.Email);
                        $("#phone").val(item.Contact_No);
                    });
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }

    }


    function getAddress() {
        var startrow = 0;
        var startrowvalue = "---Select----";
        var custid = $("#customerid").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("getaddress", "CustomerEnquiry")',
            data: "{'custid':" + custid + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                result = JSON.parse(result);
                $('#customeraddress').empty();
                $("#customeraddress").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(result, function (i, item) {

                    $("#customeraddress").append('<option value="' + item.Id + '">' + item.Address + '</option>');
                });
                $("#customeraddress").val($("#customeraddress option:eq(1)").val());
                $("#custaddid").val($("#customeraddress option:eq(1)").val());

                getinfo();



            },
            failure: function (response) {
                alert(response.d);
            }
        });

    }

    function getItemdetail() {
       $("#AttributeTable").html("");
        var itemid = $("#itemid").val();
        var Qtyid = $("#quotrefno").val();

         $.ajax({
            type: "POST",
            dataType: 'json',
            url: '@Url.Action("EditAttributeValue", "Quotation")',
             data: "{'MyJson':'" + itemid + "','type':9,'id':" + Qtyid +"}",
            contentType: "application/json;",
            success: function (Result) {
                debugger;
                Result = JSON.parse(Result);
                var tabstr = "";
                var len1 = 1;
                tabstr = tabstr + "<tr  class='attrbtab1'><th  style='display:none;'>Id</th>";
                $.each(Result.Table, function (a, data) {
                    debugger
                    $("#AttributeId").val(data.Attribute_ID);

                    $.each(data.AttributName.split(","), function (b, edata) {

                        tabstr = tabstr + "<th>" + edata + "</th>";
                    });
                });
                tabstr = tabstr + "<th>Required Quantity</th><th>Cost Price Per Qty</th><th><p class='required'>Sell Price Per Qty</p></th><th><p class='required'>GST Charge(%)</p></th><th>Tax</th><th>Sub Total</th><th>Image</th>";
                tabstr = tabstr + "</tr>"

                $.each(Result.Table1, function (i, subcate) {
                    len1 = len1 + i;
                    var attributename = subcate.AttributeValue;
                    var index1 = attributename.indexOf(',');
                    if (index1 == -1) {
                        attributename = attributename + ",";
                    }
                    attributename = attributename.split(',');
                    var ck = 0;
                    tabstr = tabstr + "<tr class='attrtabval'><td style='display:none;'><input type='hidden' class='EnqIdcs' value='" + subcate.Id+"' /></td>";
                    $.each(subcate.Attribute_Value_ID.split(","), function (k, e) {
                        if (e != "") {
                            tabstr = tabstr + "<td><input type='hidden' value='" + e + "' class='hid2'  />"
                            if (attributename[ck] != "") {
                                tabstr = tabstr + "<input type='hidden' class='hidval2' value='" + attributename[ck] + "' /> " + attributename[ck] + "";
                            }
                            tabstr = tabstr + "</td>";
                            ck = ck + 1;
                        }
                    });
                    var path = "";
                    var n = 0;
                    if (subcate.AttributeImage != "" && subcate.AttributeImage != null) {
                        $.each(subcate.AttributeImage.split(','), function (c, d) {
                            if (n == 0) {
                                path = "@itemimgpath_/" + d;
                            }
                            else {
                                path = path + ',' + "@itemimgpath_/" + d;
                            }
                            n = n + 1;
                        });
                    }
                    
                    var tot = parseFloat(subcate.Reqqty) * parseFloat(subcate.SellRate);
                    var taxv = (parseFloat(tot) * parseFloat(subcate.Taxrate)) / 100;


                    tabstr = tabstr + "<td><input type='text' class='form-control IAReqQty' value='" + subcate.Reqqty + "' id='IAReqQty" + len1 + "' onkeypress='return isNumber(event)' onkeyup='GetTotQty(this.id)' readonly /></td>";
                    tabstr = tabstr + "<td><input type='text' class='form-control IARate' value='" + subcate.rate + "'  readonly /><input type='hidden' class='form-control IAsizeid' value='" + subcate.Item_Attribute_ID +"'  readonly /></td>";
                    tabstr = tabstr + "<td><input type='text' class='form-control IASellRate'  id='IASellRate" + len1 + "' value='" + subcate.SellRate +"' onkeypress='return isNumber(event);' onkeyup='GetTotQty(this.id)' readonly /></td>";
                    tabstr = tabstr + "<td><select class='form-control select2 IAGSTCharge' style='width:115px;' id='GSTCharge" + len1 + "' name='GSTCharge" + len1 + "' onchange='GetTotQty(this.id)' disabled></select></td>";
                    tabstr = tabstr + "<td><input type='text' class='form-control IATax'  dataGST='" + subcate.Taxrate + "' id='IATax" + len1 + "' value='" + taxv+"' onkeypress='return isNumber(event);' readonly /></td>";
                    tabstr = tabstr + "<td><input type='text' class='form-control IAtotal' id='IAtotal" + len1 + "' value='" + subcate.Subtotal +"' onkeypress='return isNumber(event);' readonly /></td>";
                    tabstr = tabstr + "<td dataval='" + subcate.ImgCount + "'><input type='hidden' class='IAImgcount' id='IAImg_count" + len1 + "' value='" + subcate.ImgCount + "' />";
                    tabstr = tabstr + "<input type='button' class='btn btn-info' value='View Image' id='viewimage" + len1 + "'  onclick=GetImageUpload(this.id,'preview','Item') />";
                    tabstr = tabstr + "<input type='file' style='display:none;' id='ItemAttrimages" + len1 + "' name='ItemAttrimages_id' class='form-control' multiple /> <input type='hidden' id='Attrimages" + len1 + "' name='Attrimages" + len1 + "' value='" + path + "' class='form-control' /></td>";
                    tabstr = tabstr + "</tr>";

                });
                tabstr ="<tbody>"+ tabstr + "</tbody>"
                $("#AttributeTable").append(tabstr);

                var tdlen = document.getElementById('AttributeTable').rows[0].cells.length;
                if (parseInt(tdlen) > 10) {
                    var wid = parseInt(tdlen) * 140;
                    $("#AttributeTable").attr('style', 'width:' + wid + 'px');
                    $("#AttributeTable").parent('div').attr('style', 'overflow-x:scroll;');
                }

                 //Get Tax List
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getGSTTaxlist", "quotation")',
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (gstsdata) {

                        var result_ = JSON.parse(gstsdata);
                        $('.IAGSTCharge').empty();
                        $(".IAGSTCharge").append('<option value="select">Select</option>');
                        $.each(result_, function (i, item) {
                            $(".IAGSTCharge").append('<option value="' + item.Tax_Rate + '">' + item.Category_Name + '</option>');
                        });

                        var i = 1;
                        $("#AttributeTable tr.attrtabval").children('td').find(".IATax").each(function () {
                            var GST = this.getAttribute('dataGST');
                            $("#GSTCharge" + i).val(GST);
                            i++;
                        });

                    },
                    failure: function (response) {
                        alert(response.d);
                    }
                });
                AppendItems();
            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    $(document).ready(function () {



        //$("#quotdate").datepicker({
        //    //setDate: currentDate,
        //    dateFormat: 'dd/mm/yy',
        //    maxDate: 0
        //});
        $("#approvaldate").datepicker({
            //setDate: currentDate,
            dateFormat: 'mm/dd/yy'
            // maxDate: 0
        });
        $("#POdate").datepicker({
            //setDate: currentDate,
            dateFormat: 'mm/dd/yy'
            // maxDate: 0
        });
        $("#tentivedate").datepicker({
            //setDate: currentDate,
            dateFormat: 'mm/dd/yy'
            //  maxDate: 0
        });
        $("#Delivery_Schedule_Date").datepicker({
            //setDate: currentDate,
            dateFormat: 'mm/dd/yy',
             minDate: 0
        });

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = mm + '/' + dd + '/' + yyyy;
        document.getElementById("quotdate").value = today;
        document.getElementById("approvaldate").value = today;
        document.getElementById("tentivedate").value = today;
        document.getElementById("POdate").value = today;

        var startrow = 0;
        var startrowvalue = "---Select----"



        $.ajax({
            type: "POST",
            url: '@Url.Action("getItemcategorylist", "quotation")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (countrys) {
                $("#itemcategoryid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(countrys, function (i, item) {
                    $("#itemcategoryid").append('<option value="' + item.Id + '">' + item.Itemcategory + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("getItemsubcategorylist", "quotation")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (countrys) {
                $("#itemsubcategoryid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(countrys, function (i, item) {
                    $("#itemsubcategoryid").append('<option value="' + item.Id + '">' + item.Itemsubcategory + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("getSegmenttypelist", "quotation")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (countrys) {
                $("#segmenttypeid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(countrys, function (i, item) {
                    $("#segmenttypeid").append('<option value="' + item.Id + '">' + item.Segmenttype + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("getrawitemlist", "quotation")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (countrys) {
                $("#rawitemid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(countrys, function (i, item) {
                    $("#rawitemid").append('<option value="' + item.Id + '">' + item.ItemName + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });


    });



    function GetStyleData() {

        var styleid = $('#styleid').val();
        if (styleid != 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetStyleData", "CustomerEnquiry")',
                data: "{'styleid':" + styleid + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    result = JSON.parse(result);
                    $("#styledesc").val(result.Styledescription == null ? "" : result.Styledescription);
                    $("#styleno").val(result.StyleNo == null ? "" : result.StyleNo);

                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }

    }

   
</script>

<script src="~/Scripts/PO_DeliverySchedule.js"></script>
<script src="~/Scripts/OtherCharge.js"></script>