﻿@model IEnumerable<Garments_ERP.Entity.SRM_PurchaseOrderMasterEntity>
@{
    ViewBag.Title = "Index";
}

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="example1">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                    PO NO
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Quotation No
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Supplier Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Grand Total
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    PO Date
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
              <tr role="row" class="odd">
                <td class="sorting_1">@data.PO_NO</td>
                <td>@data.SRM_QuotationMaster.QuotationNo</td>
                <td>@data.M_Ledgersentity.Ledger_Name</td>
                <td>@data.GrandTotal</td>
                <td>
                    @{
                        string tndt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.PO_Date));
                        tndt = tndt.Replace('-', '/');
                    }
                    @tndt
                </td>
                <td>
                    <a href="@Url.Action("Edit", "SupplierPO", new { id = data.Id})" class="btn  btn-success btn-sm inner " data-original-title="Edit PO" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-edit"></i></a>
                    @if (ViewBag.roleid != 4)
                    {

                        if (ViewBag.Status == 2)
                        {
                            <button type="button" id="delete" class="btn btn-danger btn-sm inner" onclick="CanclePO(@data.Id)" style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                        }
                    }
                    else
                    {
                        if (ViewBag.Status == 2)
                        {
                            <button type="button" id="delete" class="btn btn-danger btn-sm inner" onclick="deleterecord(@data.Id)" style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                        }
                    }
                    <a href="@Url.Action("SupplierPOReport", "SupplierPO", new { id = data.Id})" class="btn btn-primary btn btn-sm" data-original-title="Print" title="Print" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-print"></i> </a>
                </td></tr>
            }
        </tbody>
    </table>

</div>



<script>
    $(document).ready(function () {
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]],
            "dom": 'Bfrtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
