﻿@model Garments_ERP.Entity.SRM_PurchaseOrderMasterEntity
<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>

<div class="row clearfix">
    <div class="col-md-2">
        <div class="required">
            <label>PO No</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="row clearfix">
                @Html.TextBoxFor(m => m.PO_NO, new { @class = "form-control disabled", @disabled = "disabled" })
                <input type="hidden" id="PO_NO" name="PO_NO" value="@Model.PO_NO" />
            </div>

        </div>
    </div>
    <div class="col-md-2">
        <label>PO Date</label>
    </div>
    <div class="col-md-4">
        <div class="input-group date" id="bs_datepicker_component_container">
            <div class="form-line">
                @Html.TextBoxFor(m => m.PO_Date, new { @class = "form-control" })
            </div>
            <span class="input-group-addon">
                <i class="material-icons">date_range</i>
            </span>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-2">
        <div class="required">
            <label>Valid From</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group date" id="bs_datepicker_component_container">
            <div class="form-line">
                @Html.TextBoxFor(m => m.POValidityFrom, new { @class = "form-control", @autocomplete = "off" })
            </div>
            <span class="input-group-addon">
                <i class="material-icons">date_range</i>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="required">
            <label>Valid-Up To</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group date" id="bs_datepicker_component_container">
            <div class="form-line">
                @Html.TextBoxFor(m => m.POValidityTo, new { @class = "form-control", @autocomplete = "off" })
            </div>
            <span class="input-group-addon">
                <i class="material-icons">date_range</i>
            </span>
        </div>

    </div>
</div>

<div class="row clearfix">
    <div class="col-md-2">
        <label>Supplier Name</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="supplierNameid" name="supplierNameid" onchange="GetQuoList()" />
            </div>
            <input type="hidden" id="supplierid" name="supplierid" />
        </div>

    </div>
    <div class="col-md-2">
        <div class="required">
            <label>Contact Person</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <select class="form-control select2" style="width: 100%;" id="contactperson" name="contactperson"></select>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-2">
        <label>Supplier Address</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" name="supplieraddress" id="supplieraddress" class="form-control disabled" readonly="readonly" />
            </div>

        </div>
    </div>
    <div class="col-md-2">
        <div class="required">
            <label>Quotation No</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <select class="form-control select2" style="width: 100%;" id="QuotationId" name="QuotationId" onchange="geQuotationItemDetails(this.id)"></select>
            <input type="hidden" id="IsReadymate" name="IsReadymate">
        </div>
    </div>
    
</div>


<div class="row clearfix">
    <div class="col-md-2">
        <label>Quotation Date</label>
    </div>
    <div class="col-md-4">
        <div class="input-group date" id="bs_datepicker_component_container">
            <div class="form-line">
                <input type="text" name="QuotationDate" id="QuotationDate" class="form-control disabled" readonly="readonly" />
            </div>
            <span class="input-group-addon">
                <i class="material-icons">date_range</i>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="required">
            <label>Delivery Location</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="warehousenameid" name="warehousenameid" />
            </div>

            <input type="hidden" id="DeliveryLoaction" name="DeliveryLoaction" />

        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-2">
        <div class="required">
            <label>Payment Term</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.DropDownListFor(m => m.PaymentTerm, (IEnumerable<SelectListItem>)ViewBag.paymenttermlist, "---Select Payment Term---", new { @class = "form-control select2" })
        </div>
    </div>
    <div class="col-md-2">
        <label>Narration</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                @Html.TextAreaFor(m => m.Narration, new { @class = "form-control alphaonly" })
            </div>

        </div>
    </div>
</div>

<div class="row clearfix approval" style="display:none;">
    <div class="col-md-2">
        <div class="required">
            <label>Approval Status</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <select class="form-control select2" id="approvalstatus" name="approvalstatus">
                <option>Select</option>
                <option selected="selected" value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="required"><label>Approval Date</label></div>

    </div>
    <div class="col-md-4">
        <div class="input-group date" id="bs_datepicker_component_container1">
            <div class="form-line">
                <input type="text" class="form-control pull-right" id="approvaldate" name="approvaldate" />
            </div>
            <span class="input-group-addon">
                <i class="material-icons">date_range</i>
            </span>
        </div>

    </div>
</div>
<div class="row clearfix approvalComment" style="display:none;">

    <div class="col-md-2 pull-left">
        <label>Approval Comment</label>
    </div>

    <div class="col-md-4 pull-left">
        <div class="form-group">
            <div class="form-line">
                <textarea class="form-control" id="comment" name="comment"></textarea>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#bs_datepicker_component_container1 > .ui-datepicker-inline").attr("style", "display:none;");
    });
</script>