﻿@using System.Data
@model DataSet
@{
    Layout = null;
}

@{
    ViewBag.Title = "SupplierPOReport";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
    

}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />
<style>
    ul {
        margin: 0;
    }
</style>

@using (Html.BeginForm("Export", "SupplierPO", FormMethod.Post))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Customer Management</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "SupplierPO")">Supplier PO Detail</a>  >  </div>
                <div class="HMsubline">Supplier PO Report</div>
            </div>
            <div class="col-sm-2">
                <input type="hidden" name="GridHtml" />
                <input type="submit" id="btnSubmit" class="btn btn btn-info pull-right" value="ExportTOPdf" />
            </div>
        </div>
    </div>
 
}

@using (Html.BeginForm("SupplierPOReport", "SupplierPO", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
            {
                foreach (DataRow row in Model.Tables[0].Rows)
                {

        <section class="content">
            <div class="container-fluid">
                <!-- #END# Hover Expand Effect -->
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card" style="width:70%">
                            <div class="body">
                                <!-- Nav tabs -->
                                <!-- Tab panes -->

                                <div class="tab-content">

                                    <!-- /.box-header -->
                                    <div class="body" id="PDF">
                                        <div class="container" style="width:100%">
                                            <div class="row clearfix">
                                                <div class="col-sm-5">

                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Company Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Street Address</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Phone</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Fax</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Email</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group text-center">
                                                                <h4 class="bg-light-blue">PURCHASE ORDER</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>PO Date</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["PO_Date"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>PO No</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["PO_NO"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-sm-5">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group text-center">
                                                                <h4 class="bg-light-blue">VENDOR</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["Ledger_Name"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Address</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["Address"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Email</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["Email"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Phone</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["Contact_No"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group text-center">
                                                                <h4 class="bg-light-blue">SHIP TO</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                @row["SHORT_NAME"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Contact Person</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["Name"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Address</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Phone</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-sm-12">
                                                    <table class="table table-striped" id="POtable">
                                                        <tr>
                                                            <th style="text-align:center;" class="col-md-2">Item Code</th>
                                                            <th style="text-align:center;" class="col-md-2">Item Name</th>
                                                            <th style="text-align:center;" class="col-md-2">PO_Qty</th>
                                                            <th style="text-align:center;" class="col-md-2">Unit Price</th>
                                                            <th style="text-align:center;" class="col-md-2">Total</th>
                                                        </tr>
                                                        @foreach (DataRow row1 in Model.Tables[1].Rows)
                                                        {

                                                            <tr>

                                                                <td style="text-align:center;" class="col-md-2">@row1["ItemCode"]</td>
                                                                <td style="text-align:center;" class="col-md-2">@row1["ItemName"]</td>
                                                                <td style="text-align:center;" class="col-md-2">@row1["POQty"]</td>
                                                                <td style="text-align:center;" class="col-md-2">@row1["Rate"]</td>
                                                                <td style="text-align:center;" class="col-md-2">@row1["Amount"]</td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-sm-8 with-border">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group text-left">
                                                                <h4 class="bg-gray-active">Comments or Special Instructions:</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="=row">
                                                        <div class="col-md-8"></div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-8">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label>SubTotal</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                @foreach (DataRow row2 in Model.Tables[2].Rows)
                                                                {
                                                                    <input type="text" class="form-control" value="@row2["SubTotal"]" />
                                                                }
                                                            </div>
                                                        </div>
                                                      
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label>Included Tax</label>
                                                                @*<input type="hidden" id="taxid" value="@row["TaxTotal"]" />*@
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                @foreach (DataRow row2 in Model.Tables[2].Rows)
                                                                {
                                                                    <input type="text" class="form-control" value="@row2["TaxTotal"]" />
                                                                }

                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label>Shipping</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" value="0" id="Shipping">
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label>Other</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" value="0" id="other">
                                                            </div>
                                                        </div>
                                                     
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label>Total</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                @foreach (DataRow row1 in Model.Tables[0].Rows)
                                                                {
                                                                    <input type="text" class="form-control" value="@row["GrandTotal"]" />
                                                                }
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div></div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="row">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                   
                                                        <div class="form-group text-bold text-left">
                                                            <label>[Signature of Authorized Person]</label>
                                                        </div>
                                                   
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group text-left">
                                                            <p>Terms and Conditions</p>
                                                            <p>1.Delivery:All goods to be delivered within 14 days from date of PO.</p>
                                                            <p>
                                                                2.Condition:We reserve the right to reject goods that are not in good order or conditions as determine
                                                                by our quality control.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        





    }
}
<script>
                                            $(function () {
                                                $("#btnSubmit").click(function () {
                                                    $("input[name='GridHtml']").val($("#PDF").html());
                                                });
                                            });

</script>
