﻿@model Garments_ERP.Entity.MFG_MaterialIssueMasterEntity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />

<style>
    .textcolor {
        color: white;
    }
</style>
<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }

    ul {
        margin: 0;
    }

    #imgpreview1 ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: inline-block;
    }

        #imgpreview1 ul li {
            float: left;
            padding-left: 10px;
        }

            #imgpreview1 ul li img {
                float: left;
                width: 100px;
                height: 100px;
            }
</style>

@using (Html.BeginForm("Create", "RawMaterialIssue", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{
    <main id="tabs">

        <ul id="tab_ulid">
            <li class="btnLi active">
                <a href="#content1">Material Issue Info</a>
            </li>
            <li class="btnLi">
                <a href="#content2">Required Material</a>
            </li>
            <li style="float:right;padding:9px 0;">
                <button type="button" class="btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "MaterialIssue")'">Cancel</button>
                <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="savematerialissue">Save</button>
            </li>
        </ul>

        <!--Quotation Info-->
        <section-tab id="content1" class="sectab">
            <div class="box box-default">
                <div class="titlerow bg-light-blue">
                    <div class="box-header with-border boxheader_sub">
                        <header class="box-title" style="font-size:14px;">Material Issue Details</header>
                    </div>

                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="required">
                                    <label>Warehouse</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.WarehouseID, (IEnumerable<SelectListItem>)ViewBag.warehouselist, "---Select Warehouse---", new { @class = "form-control select2" })
                                    @*<span id="warehouseid" class="help-block" style="color:red;"></span>*@
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="required">
                                    <label>Warehouse Incharge</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.EmpID, (IEnumerable<SelectListItem>)ViewBag.employeelist, "---Select Incharge---", new { @class = "form-control select2" })
                                    @*<span id="incharge" class="help-block" style="color:red;"></span>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label>Material Issue No</label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" id="MaterialIssueNo" name="MaterialIssueNo" class="form-control" value="@Model.MaterialIssueNo" readonly />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Issue Date</label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right datepicker" id="IssueDate" name="IssueDate">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="required">
                                    <label>Work Order No</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.RefWO, (IEnumerable<SelectListItem>)ViewBag.workorderlist, "---Select Work Order---", new { @class = "form-control select2", @onchange = "getWODetails()" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>WO Date</label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right datepicker" id="RefWODate" name="RefWODate" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label>Style Name</label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @*   @Html.DropDownListFor(m => m.StyleID, (IEnumerable<SelectListItem>)ViewBag.stylelist, "---Select Style---", new { @class = "form-control select2" })*@
                                    <input type="text" class="form-control" id="StyleName" name="StyleName" readonly>
                                    <input type="hidden" class="form-control" id="StyleID" name="StyleID">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label>Challan No</label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="ChallanNo" name="ChallanNo" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="required">
                                    <label>Department</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.DropDownList("DepartmentId", (IEnumerable<SelectListItem>)ViewBag.deptlist, "---Select Department---", new { @class = "form-control select2" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="imgpreview">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section-tab>

        <!--Style Details-->
        <section-tab id="content2" class="sectab">


            <div class="box box-default">
                <div class="titlerow bg-light-blue">
                    <div class="box-header with-border boxheader_sub">
                        <header class="box-title" style="font-size:14px;">IN/OUT Raw Material Details</header>
                    </div>
                </div>

                <div class="box-body">

                    <input type="hidden" class="form-control" id="Target_Qty" name="Target_Qty">
                    <input type="hidden" id="rawitemdetails" name="rawitemdetails" />

                    <div class="col-md-12" style="margin-bottom:40px;">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-striped" id="rawitemtable">
                                <tr class="titlerow bg-blue">
                                    <td>Process</td>
                                    <td>Item Category</td>
                                    <td>In Item</td>
                                    <td>Item Unit</td>
                                    <td>Required Qty</td>
                                    <td>Available Qty</td>
                                    <td>Issued Qty</td>
                                    <td>Balance Qty</td>
                                </tr>
                                <tbody class="bg-info"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="box-footer">
                    <div class="col-md-2 pull-left">
                        <input type="checkbox" name="Ischkpacking" checked /><i class="info text-info">Do you want packing?</i>
                    </div>
                    <div class="col-md-2 pull-left">
                        <label>Comment</label>
                    </div>
                    <div class="col-md-4 pull-left">
                        <div class="form-group">
                            <textarea class="form-control" id="Comment" name="Comment"></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </section-tab>

    </main>
    
}


<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="~/Scripts/JqueryUI.js"></script>

<script>
    var ErrorMessage = "";

    function setswal(msg) {
        if (ErrorMessage.length > 0) {
            ErrorMessage += "\n" + msg;
        } else { ErrorMessage = msg; }
    }

    $("#savematerialissue").on("click", function () {
        var isvalid = true;
        var warehouseId = $("#WarehouseID").val();
        var emp = $("#EmpID").val();
        var item = $("#item1").val();

        if (warehouseId == "" || warehouseId == "0") {
            setswal("Select Warehouse");
            isvalid = false;
        }

        else if (emp == "") {
            setswal("Select Customer");
            isvalid = false;
        }
        else if (item == "" || item == "0") {
            setswal("Select Item");
            isvalid = false;
        }

        if (ErrorMessage.length > 0) {

            swal({
                title: 'Oops',
                text: ErrorMessage
            });
            isvalid = false;
        }
        else {

            var str = "";
            var rawitemstr = "";
            var $dataRows = $("#rawitemtable tr:not('.titlerow')");
            var rowlenght = $dataRows.length;
            var stylerowcount = 0;
            //var stylerowCount = $('#maintable2 tr').length;
            $dataRows.each(function () {

                count = 0;
                stylerowcount++;
                $(this).find('.itemrow').each(function (i) {
                    debugger;
                    var itemlist = ($(this).val());  //here get td value
                    count++;

                    if (itemlist != undefined) {

                        if (count == 8) {
                            str += itemlist;
                        }
                        else {
                            str += itemlist + "~";
                        }
                    }

                });

                if (stylerowcount == rowlenght) {

                }
                else {
                    str += "#";
                }

            });
            isvalid = true;

            $('#rawitemdetails').val(str);
        }
        return isvalid;
    });











    $('.select2').select2();
    $('.select2').width("100%");
    $(document).ready(function () {
        $("#IssueDate").datepicker({
            dateFormat: 'dd/mm/yy',
            maxDate: 0
        });
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = dd + '/' + mm + '/' + yyyy;
        document.getElementById("IssueDate").value = today;
    });
    var startrow = 0;
    var startrowvalue = "---Select----";

    //code to fill dropdown list of warehouse
    $.ajax({
        type: "POST",
        url: '@Url.Action("getwarehouselist", "MaterialIssue")',
        data: '{}',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (warehouses) {
            $("#warehouseid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
            $.each(warehouses, function (i, item) {
                $("#warehouseid").append('<option value="' + item.Id + '">' + item.SHORT_NAME + '</option>');
            });
        },
        failure: function (response) {
            alert(response.d);
        }
    });
    //code to fill dropdown list of WarehouseIncharge
    $.ajax({
        type: "POST",
        url: '@Url.Action("getemplist", "MaterialIssue")',
        data: '{}',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (employees) {
            $("#woinchargeid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
            $.each(employees, function (i, item) {
                $("#woinchargeid").append('<option value="' + item.Id + '">' + item.Name + '</option>');
            });
        },
        failure: function (response) {
            alert(response.d);
        }
    });
    //code to fill dropdown list of Style
    $.ajax({
        type: "POST",
        url: '@Url.Action("getstylelist", "MaterialIssue")',
        data: '{}',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (styles) {
            $("#styleid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
            $.each(styles, function (i, item) {
                $("#styleid").append('<option value="' + item.StyleNo + '">' + item.Stylename + '</option>');
            });
        },
        failure: function (response) {
            alert(response.d);
        }
    });

    function getWODetails() {
        var woID = $("#RefWO").val();
        if (woID == undefined || woID == '' || woID == '0') {
            ClearFields();
        }
        else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetWODetails", "RawMaterialIssue")',
                data: "{'woID': " + woID + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var DATE_FORMAT = "DD/MM/YYYY";
                    var workOrderDate = moment(result.Date).format(DATE_FORMAT);
                    $("#RefWODate").val(workOrderDate);
                    $("#StyleName").val(result.M_Styleentity.Stylename);
                    $("#StyleID").val(result.StyleID);
                    $("#DepartmentId").val(result.DepartmentID).trigger('change');
                    getIN_OUT_Details();
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
    }

    function ClearFields() {
        $("#WorkOrderDate").val('');
        $("#StyleName").val('');
        $("#StyleID").val('');
        $("#rawitemtable > tbody").html(noProcessFound);
    }
    let noProcessFound = ' <tr class="clickable warning dropdown-deliverable" data-for="#details_1">' +
                                         '<td colspan=5 style="text-align:center"> No process found. </td>' +
                                         '</tr>';

    function getIN_OUT_Details() {

        var WorkOrderID = $("#RefWO").val();
        if (WorkOrderID == undefined || WorkOrderID == '' || WorkOrderID == '0') {
            ClearFields();
        }
        else {

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetProcessMaterialDetails", "RawMaterialIssue")',
                data: "{'workorderID':" + WorkOrderID + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.length == 0) {
                        $("#rawitemtable").html(noProcessFound);
                    }
                    else {
                        var i = 0;
                        var rowCount = 0;
                        $('#rawitemtable').empty();

                        var startdiv = '<tr class="titlerow bg-blue">' +
                             '<td>Process</td>' +
                             '<td>Item Category</td>' +
                             '<td>Item</td>' +
                             '<td>Item Unit</td>' +
                             '<td>Required Qty</td>' +
                             '<td>Available Qty</td>' +
                             '<td>Issued Qty</td>' +
                              '<td>Balance Qty</td>' +
                             '</tr>';
                        $('#rawitemtable').append(startdiv);

                        $.each(result, function (i, record) {
                            i = i + 1;
                            var div = '<tr class="">' +
                                '<td>' + record.ProcessName + '<input class="itemrow" type="hidden" name="ProcessId" value="' + record.ProcessID + '" id="ProcessId' + i + '"/></td>' +
                                '<td>' + record.Itemsubcategory + '<input class="itemrow" type="hidden" name="ItemsubcateId" value="' + record.ItemSubCategoryID + '" id="ItemsubcateId' + i + '"/></td>' +
                                '<td>' + record.ItemName + '<input class="itemrow" type="hidden" name="ItemId" value="' + record.ItemID + '" id="ItemId' + i + '" /></td>' +
                                '<td>' + record.ItemUnit + '<input class="itemrow" type="hidden" name="UnitId" value="' + record.UnitID + '" id="UnitId' + i + '" /></td>' +
                                '<td>' + record.RequiredQty + '<input  class="itemrow" type="hidden" name="ReqQty" value="' + record.RequiredQty + '" id="ReqQty' + i + '" /></td>' +
                                '<td>' + record.BalanceQty + '<input  class="itemrow" type="hidden" name="AvlQty" value="' + record.BalanceQty + '" id="AvlQty' + i + '" /></td>' +
                                '<td class="col-md-1"><input type="text" name="IssuedQty " value="' + record.IssuedQty + '" id="IssuedQty' + i + '" class="form-control itemrow"/></td>' +
                                '<td class="col-md-1"><input type="text" name="BalanceQty " value="0" id="BalanceQty' + i + '" class="form-control itemrow"/></td>' +
                              '</tr>';
                            $('#rawitemtable').append(div);

                        });
                    }
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
    }

    function setItemUnitQTY(id) {
        var number = id.match(/\d+/);
        var itemid = $("#InItem" + number).val();
        if (itemid != "" && itemid != "0") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getSRMitemdetail", "MaterialIssue")',
                data: "{'itemid':" + itemid + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#InItemUnit' + number).val(result.UnitId).trigger('change');
                    $('#AvailableQty' + number).val(result.Balance_Qty);

                },
                failure: function (response) {
                    alert(response.d);
                }
            });
            createOUTItem(id);
        }
        else {
            $('#InItemUnit' + number).val(0).trigger('change');
            $('#AvailableQty' + number).val('');
            $("#OutItem" + number).val('');
            $("#OutItemQty" + number).val('');
        }
    }


    function createOUTItem(id) {
        var number = id.match(/\d+/);
        $("#OutItemQty" + number).val('');
        $("#OutItem" + number).val('');
        var itemid = $("#InItem" + number).val();
        var INitem = $("#InItem" + number + " option:selected").text();
        //var INitem = $("#InItem" + number).selected(itemid);
        var procName = $("#procName" + number).val();
        var res = procName.substring(0, 3);
        var OutItem = res + '-' + INitem;
        $("#OutItem" + number).val(OutItem);
        var Wastage_ = $("#hdnWastage_" + number).val();
        var targetQty = $("#Target_Qty").val();
        if (Wastage_ == "0" || Wastage_ == "") {
            $("#OutItemQty" + number).val(targetQty);
        }
        else {
            var OUTqty = parseFloat(targetQty) * Wastage_ / 100;
            $("#OutItemQty" + number).val(OUTqty);
        }
    }

    function saveOutItem(id) {
        var number = id.match(/\d+/);
        var outItemName = $("#OutItem" + number).val();
        var outItemQty = $("#OutItemQty" + number).val();
        var unitid = $("#InItemUnit" + number).val();
        if (unitid != "0" && outItemName != "" && outItemQty != "") {
            var values = {
                'unitid': unitid, 'outItemName': outItemName, 'outItemQty': outItemQty
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveOutItem", "MaterialIssue")',
                data: JSON.stringify(values),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result == true) {
                        swal("OUT Item saved successfully.");
                    }
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
        else {
            swal("UOM, OUT Item and OUT Qty should have value.");
        }
    }

</script>