﻿@model Garments_ERP.Entity.Accounts.Acc_Voucher_Customer_Details_Entity
@{
    ViewBag.Title = "CounterSales";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
    var branch_Id = Model.Branch_Id;
    var user_id = Model.Created_By;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
@*<link href="~/Content/select2.min.css" rel="stylesheet" />*@
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />
<style>
    .headPanel {
        background-color: #F44336;
        color: white;
    }
</style>
<div class="titheader">
    <div class="block-header">
        <div class="col-sm-10">
            <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Accounts</a>  >  </div>
            <div class="HMline"><a href="@Url.Action("Index", "Sales")">Counter Sales</a>  >  </div>
            <div class="HMsubline">Create</div>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Sales")'">Cancel</button>
            <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="btnSave">Save</button>
        </div>

    </div>
</div>

<!-- Bill Item Start -->
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="card">
                <input type="hidden" id="Voucher_Date" class="form-control" name="Voucher_Date" />
                <input type="hidden" id="Voucher_ID" class="form-control" name="Voucher_ID" value="0" />
                <input type="hidden" id="Created_By" class="form-control" name="Created_By" value="@user_id" />
                <input type="hidden" id="Branch_Id" class="form-control" name="Branch_Id" value="@branch_Id" />
                <div class="panel-heading panel-heading-carmine headPanel">
                    <h4 class="panel-title">Bill Items</h4>
                </div>

                <div class="body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">

                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-10 col-xs-12">

                                        <div class="form-group">
                                            <div class="required">
                                                <label>Scan Barcode Or Search Item</label>
                                            </div>
                                            <div class="form-line">
                                                <input type="text" id="ScanBarcode" class="form-control" onchange="addItemRow();" />
                                                <input type="hidden" id="Item_ID" class="form-control" />
                                            </div>

                                        </div>

                                    </div>
                                    @*<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <span class="input-group-btn">
                                                <button type="button" id="AddSalesItem" name="AddSalesItem" class="btn btn-info btn-carmine">
                                                    <i class="fa fa-plus"></i>
                                                </button>

                                            </span>
                                        </div>*@
                                    <div class="pull-right">
                                        <h3 class="text-deep-orange-A200">Total Bill Rs. <span id="TotalBillAmount" style="color:red">0.00</span></h3>
                                        <input type="hidden" id="TotalAmount" value="0" />
                                    </div>
                                </div>

                                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group form-group-md">
                                                <button type="button" id="DeleteBillItem" class="btn btn-sm btn-danger">Remove Item</button>
                                            </div>
                                        </div>
                                    </div>*@

                                <div class="row clearfix">
                                    <div class="col-md-12" style="overflow-x:scroll;">
                                        <div class="table-responsive">
                                            <table id="SalesBillItemsList" class="table table-condensed" width="100%">
                                                <thead>
                                                    <tr style="background-color:lightgray">
                                                        <th class="text-center">Action</th>
                                                        <th class="text-center">Image</th>
                                                        <th class="text-center">Barcode</th>
                                                        <th class="text-center">HSN Code</th>
                                                        <th class="text-center">Item Name</th>
                                                        <th class="text-center">Unit Code</th>
                                                        <th class="text-center">Sale Qty</th>
                                                        <th class="text-center">Rate</th>
                                                        <th class="text-center">Scheme</th>
                                                        <th class="text-center">Type of Discount</th>
                                                        <th class="text-center">Discount Rate</th>
                                                        <th class="text-center">Taxable Value</th>
                                                        <th class="text-center">GST Rate</th>
                                                        <th class="text-center">GST Amount</th>
                                                        <th class="text-center">Total Item Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>

        <div class="row clearfix">
            <div class="card">
                <div class="panel-heading panel-heading-carmine headPanel">
                    <h4 class="panel-title">Customer Details</h4>
                </div>

                <div class="body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                            <div class="row clearfix">
                                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">*@

                                <input type="hidden" id="SalesBillPaymentId" />

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <div class="required">
                                            <label>Customer Moblie No</label>
                                        </div>
                                        <div class="form-line">
                                            <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="NameContact" name="NameContact" />
                                            <input type="hidden" class="form-control" id="Customer_Mob_No" name="Customer_Mob_No" />
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <div class="required">
                                            <label>Customer Name</label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <div class="form-line">
                                                <input type="text" class="form-control" id="CustomerName" name="CustomerName" />
                                                <input type="hidden" class="form-control" id="Customer_ID" name="Customer_ID" />
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <span class="input-group-btn">
                                                <button type="button" id="AddNewCustomer" name="NewCustomer" class="btn btn-info btn-carmine">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                                @*<button type="button" id="RefreshCustomerList" name="RefreshCustomer" class="btn btn-default">
                                                        <i class="fa fa-refresh"></i>
                                                    </button>*@
                                            </span>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Consignee Moblie No</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="ConsigneeMob" name="ConsigneeMob" />
                                                <input type="hidden" class="form-control" id="Consignee_Mob_No" name="Consignee_Mob_No" />
                                                @*<input type="text" class="form-control" id="Consignee_Mob_No" name="Consignee_Mob_No" />*@
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

                                    <div class="form-group">
                                        <label>Consignee</label>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">

                                            <div class="form-line">
                                                <input type="text" class="form-control" id="ConsigneeName" name="ConsigneeName" />
                                                <input type="hidden" class="form-control" id="Consignee_ID" name="Consignee_ID" />
                                            </div>

                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <span class="input-group-btn">
                                                <button type="button" id="AddNewConsignee" name="NewConsignee" class="btn btn-info">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                                @*<button type="button" id="RefreshConsigneeList" name="RefreshConsignee" class="btn btn-default">
                                                        <i class="fa fa-refresh"></i>
                                                    </button>*@
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                @*</div>*@
                            </div>

                            <div class="row clearfix">
                                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">*@

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <div class="required">
                                            <label>Salesman</label>
                                        </div>
                                        @Html.DropDownListFor(m => m.Employee_ID, (IEnumerable<SelectListItem>)ViewBag.employeelist, "---Select Salesman---", new { @class = "form-control select2" })
                                        @*<select id="Employee_ID" class="form-control select2" name="Employee_ID">
                                                <option>---Select Salesman---</option>
                                                <option>D.K. Traders</option>
                                                <option>Dalmia Sarees</option>
                                                <option>Rauhl Fashion Tex</option>
                                                <option>Yatish Corporations</option>
                                            </select>*@
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <div>
                                            <label>Payment Settlement</label>
                                        </div>
                                        <select id="Payment_Settlement_ID" class="form-control select2" name="Payment_Settlement_ID">
                                            @*    <option value="0">---Select Option---</option>*@
                                            <option value="1">Full Payment</option>
                                            <option value="2">Part Payment</option>
                                        </select>

                                    </div>

                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <div class="required">
                                            <label>Mode of Payment</label>
                                        </div>
                                        @Html.DropDownListFor(m => m.Payment_Mode_ID, (IEnumerable<SelectListItem>)ViewBag.paymenttermlist, "---Select Pay Mode---", new { @class = "form-control select2", @onchange = "adjustAmount()" })
                                        @*<select id="Payment_Mode_ID" class="form-control select2" name="Payment_Mode_ID">
                                                <option>---Select Pay Mode---</option>
                                                <option>Cash</option>
                                                <option>Card</option>
                                                <option>Cheque</option>
                                                <option>Net Banking</option>
                                            </select>*@
                                    </div>

                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Cash Amount</label>
                                        <div class="form-line">
                                            <input type="text" id="Cash_Amount" class="form-control" name="Cash_Amount" onkeypress="return isNumberKey(event,this.id)" />
                                        </div>
                                    </div>

                                </div>

                                @*</div>*@
                            </div>

                            <div class="row clearfix">
                                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">*@

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Cheque No.</label>
                                        <div class="form-line">
                                            <input type="text" id="Cheque_No" class="form-control" name="Cheque_No" />
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Cheque Date</label>
                                        <div class="form-line">
                                            <input type="text" id="Cheque_Date" class="form-control" name="Cheque_Date" />
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Bank Name</label>
                                        <div class="form-line">
                                            <input type="text" id="Bank_Name" class="form-control" name="Bank_Name" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Cheque Amount</label>
                                        <div class="form-line">
                                            <input type="text" id="Cheque_Amount" class="form-control" name="Cheque_Amount" onkeypress="return isNumberKey(event,this.id)" />
                                        </div>
                                    </div>

                                </div>
                                @*</div>*@
                            </div>

                            <div class="row clearfix">
                                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">*@

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Credit Card No.</label>
                                        <div class="form-line">
                                            <input type="text" id="Credit_Card_No" class="form-control" name="Credit_Card_No" />
                                        </div>


                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Credit Card Amount</label>
                                        <div class="form-line">
                                            <input type="text" id="Credit_Card_Amount" class="form-control" name="Credit_Card_Amount" onkeypress="return isNumberKey(event,this.id)" />
                                        </div>


                                    </div>

                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Net Banking Reference No.</label>
                                        <div class="form-line">
                                            <input type="text" id="Net_Banking_Ref_No" class="form-control" name="Net_Banking_Ref_No" />
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Net Banking Amount</label>

                                        <div class="form-line">
                                            <input type="text" id="Net_Banking_Amount" class="form-control" name="Net_Banking_Amount" onkeypress="return isNumberKey(event,this.id)" />
                                        </div>

                                    </div>

                                </div>

                                @*</div>*@
                            </div>

                            <div class="row clearfix">

                                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">*@

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Total Amount</label>
                                        <div class="form-line bg-danger">
                                            <input type="text" id="Total_Amount" class="form-control" readonly name="Total_Amount" />
                                        </div>


                                    </div>

                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Recevied Amount</label>
                                        <div class="form-line">
                                            <input type="text" id="Received_Amount" class="form-control" name="Received_Amount" onchange="calCashtobereturn();" onkeypress="return isNumberKey(event,this.id)" />
                                        </div>


                                    </div>

                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Cash to be Returns</label>
                                        <div class="form-line bg-danger">
                                            <input type="text" id="CashtobeReturns" class="form-control" readonly />
                                        </div>


                                    </div>

                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Payment Remarks</label>

                                        <div class="form-line">
                                            <textarea id="Remarks" class="form-control" rows="3" name="Remarks"></textarea>
                                        </div>


                                    </div>
                                </div>


                                @*</div>*@

                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>
</section>

@*<script src="~/Scripts/select2.min.js"></script>*@
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
@*<script src="@Url.Content("~/Content/dist/js/select2.js")"></script>*@
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
@*<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<script src="~/Scripts/Accounts/CounterSales.js"></script>
<script>
    $(document).ready(function () {

        $("#bs_datepicker_component_container1 > .ui-datepicker-inline").attr("style", "display:none;");
        $('.select2').select2();
        $('.select2').width("100%");


        $("#Cheque_Date").datepicker({
            dateFormat: 'mm/dd/yy',
            maxDate: 0
        });

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = mm + '/' + dd + '/' + yyyy;
        today = dMyyyy(today);
        $("#Cheque_Date").val(today);
        $("#Voucher_Date").val(today);
    });
</script>