﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";


}


<style>
    #footerExport td {
        cursor: pointer;
        text-align: center;
        border: 1px solid #ccc;
        border: none;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Content/exportpugin/tableExport.js"></script>
<script src="~/Content/exportpugin/jquery.base64.js"></script>
<script src="~/Content/exportpugin/html2canvas.js"></script>
<script src="~/Content/exportpugin/jspdf/libs/base64.js"></script>
<script src="~/Content/exportpugin/jspdf/libs/sprintf.js"></script>
<script src="~/Content/exportpugin/jspdf/jspdf.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />



<div class="titheader">
    <div class="block-header">
        <div class="col-sm-10">
            <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">CSI Master</a>  >  </div>
            <div class="HMsubline">User Shift Detail</div>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-block btn-success btn-sm" href="@Url.Action("Create", "UserShift")">Create New</a>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <!-- #END# Hover Expand Effect -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="col-xs-12 col-sm-6">
                            <h2 class="hedtit">
                                User Shift Details
                            </h2>
                        </div>

                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr role="row">
                                        <th style="display:none;">
                                            ID
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 158px;">
                                            Department
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Role Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                            Employee Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                            Shift
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                            Start Date
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                            END Date
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                            Status
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 155px;">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td style="display:none;"></td>
                                        <td class="sorting_1"></td>
                                        <td class="sorting_1"></td>
                                        <td class="sorting_1"></td>
                                        <td class="sorting_1"></td>
                                        <td class="sorting_1"></td>
                                        <td class="sorting_1"></td>
                                        <td class="sorting_1"></td>
                                        <td>
                                            <a class="btn btn-success" href="#" style="padding:5px;font-size:12px;" title="Edit"><i class="fa fa-fw fa-edit"></i></a>
                                            <a class="btn btn-warning" style="padding:5px;font-size:12px;" title="Delete"><i class="fa fa-fw fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <tr id="footerExport">
                                    <td id="exportexcel"><img src="~/Content/iconsforexport/xls.png" title="Export to Excel" /></td>
                                    <td id="exportpdf"><img src="~/Content/iconsforexport/pdf.png" title="Export to PDF" /></td>
                                    <td id="exportcsv"><img src="~/Content/iconsforexport/csv.png" title="Export to CSV" /></td>
                                    <td id="exportword"><img src="~/Content/iconsforexport/word.png" title="Export to Word" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<input type="hidden" id="altmsg" value="@Convert.ToString(TempData["alertmsg"])" />


