﻿@model Garments_ERP.Entity.MFG_MaterialIssueMasterEntity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />


<style>

    ul {
        margin: 0;
    }
</style>

@using (Html.BeginForm("Create", "MaterialIssue", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{

    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-8">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Inventory</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "MaterialIssue")">Material Issue Details</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "MaterialIssue")'">Cancel</button>
                <button type="submit" class="btn btn btn-success pull-right" style="margin-right:5px;" id="savematerialissue">Save</button>
            </div>

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Material Issue Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">perm_data_setting</i> Material Details
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Warehouse<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.DropDownListFor(m => m.WarehouseID, (IEnumerable<SelectListItem>)ViewBag.warehouselist, "---Select---", new { @class = "form-control select2" })

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Warehouse Incharge<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.DropDownListFor(m => m.EmpID, (IEnumerable<SelectListItem>)ViewBag.employeelist, "---Select---", new { @class = "form-control select2" })
                                               
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Material Issue No<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="mino" name="mino" class="form-control disabled" value="@Model.MaterialIssueNo" readonly />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Issue Date<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right " id="issuedate" name="issuedate">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Ref Work Order No.<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.DropDownListFor(m => m.RefWO, (IEnumerable<SelectListItem>)ViewBag.WOlist, "---Select Work Order---", new { @class = "form-control select2", @onchange = "getProdPlanList()" })
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>WO Date<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right disabled" id="wodate" name="wodate" readonly />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Production Plan No<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="ppno" name="ppno" class="form-control disabled" readonly />
                                                </div>

                                                <input type="hidden" id="ppnoid" name="ppnoid" class="form-control" readonly />
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>Production Plan Date<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right disabled" id="ppdate" name="ppdate" readonly>
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Style Name<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" id="Stylename" readonly placeholder="" name="Stylename">
                                                </div>

                                                <input type="hidden" class="form-control" id="StyleID" placeholder="" name="StyleID">
                                                <input type="hidden" id="porefno" name="porefno" />

                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>Department<i style="color:red">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="DepartmentnameId" name="DepartmentnameId"  />
                                                </div>

                                                <input type="hidden" id="DepartmentId" name="DepartmentId" />

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="imgpreview">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    <input type="hidden" id="planStartDate" name="planStartDate" />
                                    <input type="hidden" id="planTargetDate" name="planTargetDate" />
                                    <input type="hidden" class="form-control inputControls disabled" placeholder="0" id="TargetQty" readonly="readonly" name="TargetQty">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-condensed" id="ProductionTable">
                                                    <caption class="panelHeader" style="font-size:14px;height:30px;"><div style="padding:0.3em 0.5em;">Production Days Via Qty</div></caption>
                                                    <thead style="background-color:white;">
                                                        <tr class="titlerow">
                                                            <th style="text-align:center">Total Days</th>
                                                            <th style="text-align:center">Total Quntity</th>
                                                            <th style="text-align:center">Per Day Production</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="clickable  dropdown-deliverable" data-for="#details_1">
                                                            <td style="text-align:center"><input type="text" id="Ptotaldays" class="form-control inputControls" name="totaldays" readonly /></td>
                                                            <td style="text-align:center"><input type="text" id="PTotalQty" class="form-control inputControls" name="PTotalQty" readonly /> </td>
                                                            <td style="text-align:center"><input type="text" id="PPDProd" class="form-control inputControls" name="PPDProd" readonly /> </td>


                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                    <input type="hidden" id="rawitemdetails" name="rawitemdetails" />

                                    @*<input type="hidden" name="issampling" id="issampling" />*@
                                    <input type="text" name="issampling" id="issampling" style="display:none;">
                                    @*<input type="hidden" name="sizeliststr" id="sizeliststr" />
        <input type="hidden" name="isapprovalstatus" id="isapprovalstatus" />
        <input type="hidden" name="enquiryno" id="enquiryno" />*@
                                    <input type="file" name="stylefile" id="stylefile" style="display:none;" />
                                    <input type="file" name="rawimglist" id="rawimglist" style="display:none;" multiple />
                                    <div class="row clearfix">
                                        <div class="col-md-12" style="margin-bottom:40px;">
                                            <div class="box-body table-responsive no-padding">
                                                <table class="table" id="rawitemtable">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:9em;">Stock Type</th>
                                                            <th style="width:15em;">Item Sub Category</th>
                                                            <th style="width:15em;">Item Name</th>
                                                            <th>Required Qty</th>
                                                            <th>Available Qty</th>
                                                            <th>Issue Qty</th>
                                                            <th>UOM</th>
                                                            <th>Req. Bal. Qty</th>
                                                            <th>Stock Bal. Qty</th>
                                                            <th>Total Issue Qty</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id='rawitemtablebody'></tbody>
                                                </table>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2 pull-left">
                                            <div class="form-group">
                                                <label>Comment</label>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pull-left">
                                            <div class="form-group">
                                                <textarea class="form-control" id="comment" name="comment"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

}


<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>

<script>
    $(document).ready(function () {
        $('.select2').select2();
        $('.select2').width("100%");

        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "Display:none;");


        if (window.File && window.FileList && window.FileReader) {
            fnsetimgpreve("styleimg", "imgpreview");
           // fnsetimgpreve("rawimg", "imgpreviewraw");
        } else { alert("Your browser doesn't support to File API") }
    });

    function fnsetimgpreve(filecontrol, previecontrol) {
        $("#" + filecontrol).on("change", function (e) {

            $("#" + previecontrol).empty();
            var files = e.target.files,
            filesLength = files.length;

            for (var i = 0; i < filesLength ; i++) {
                var f = files[i]

                var fileReader = new FileReader();
                fileReader.onload = (function (e) {
                    var file = e.target;
                    var imgstr = "<div class='imgDiv'> <img class='imageThumb' src='" + e.target.result + "'   ></img> <a href='#' class='imgClose' title='Remove'>X</a></div>";
                    $("#" + previecontrol).append(imgstr);
                });
                fileReader.readAsDataURL(f);
            }
        });

    }



    $("#savematerialissue").on("click", function () {

        var isvalid = true;
        var warehouseId = $("#WarehouseID").val();
        var emp = $("#EmpID").val();
        var item = $("#item1").val();
        var dept = $("#DepartmentId").val();

        var $dataRows1 = $("#rawitemtable tr:not('.titlerow')");
        $dataRows1.each(function () {
            $(this).find('.issueqty').each(function (i) {
                var itemlist1 = ($(this).val());
                if (itemlist1 == "") {
                    swalmsg("Please Enter Issue Qty!");
                    isvalid = false;
                }
            });
        });

        if (warehouseId == "" || warehouseId=="0") {
            swalmsg("Select Warehouse");
            isvalid = false;
        }

        else if (emp == "") {
            swalmsg("Select Warehouse Incharge!");
            isvalid = false;
        }
        else if (item == "" || item == "0") {
            swalmsg("Select Item");
            isvalid = false;
        }

        else if (dept == "" || dept == "0") {
            swalmsg("Select Department");
            isvalid = false;
        }
        else {
            var str = "";
            var rawitemstr = "";
            var $dataRows = $("#rawitemtable tr:not('.titlerow')");
            var rowlenght = $dataRows.length;
            var stylerowcount = 0;
            //var stylerowCount = $('#maintable2 tr').length;
            $dataRows.each(function () {
                count = 0;
                stylerowcount++;
                $(this).find('.itemrow').each(function (i) {
                    debugger;
                    var itemlist = ($(this).val());  //here get td value
                    count++;

                    if (itemlist != undefined) {

                        if (count == 11) {
                            str += itemlist;
                        }
                        else {
                            str += itemlist + "~";
                        }
                    }

                });

                if (stylerowcount == rowlenght) {

                }
                else {
                    str += "#";
                }

            });
            isvalid = true;

            $('#rawitemdetails').val(str);
        }

        var $dataRows1 = $("#rawitemtable tr:not('.titlerow')");
        $dataRows1.each(function () {
            $(this).find('.issueqty').each(function (i) {
                var itemlist1 = ($(this).val());
                if (itemlist1 == "") {
                    swalmsg("Please Enter Issue Qty!");
                    isvalid = false;
                }
            });
        });

        return isvalid;
    });







    function addrow() {

        $('#dropdwon1 option').clone().appendTo('#dropdwon2');
        //code to add new row
        var $dataRows = $("#rawitemtable tr:not('.titlerow')");
        var len = $dataRows.length;
        //newrow = $($dataRows[0]).clone();
        var item = "item" + len + 1;
        var available = "available" + len + 1;
        var unit = "unit" + len + 1;
        var unitid = "unitid" + len + 1;
        var tdid = "tdid" + len + 1;
        var requiredqty1 = "requiredqty" + len + 1;
        var issueqty1 = "issueqty" + len + 1;
        var balqty1 = "balqty" + len + 1;
        var newrow = ' <tr><td style="text-align:center;" class="rawsizerow"><input type="text" class="form-control" value="' + subcate.ItemsubcategoryName + '" disabled /><input type="hidden" id="hiddenitemcategoryid" value="' + subcate.ItemSubCategoryId +'" class="form-control  rawitemlist itemrow" /></td>'+
        '<td id="' + tdid + '"><select class="form-control select2 itemrow" id="' + item + '" name="itemid" onchange="getbyId(this.id);">  </select>' +
                                '<td><input type="text" class="form-control rawitemlist itemrow" name="requiredqty" id="' + requiredqty1 + '" onchange="calcqty(this.id);"></td>' +
                                '<td><input type="text" class="form-control rawitemlist itemrow" name="availableqty" id="'+available+'" readonly></td>' +
                                '<td><input type="text" class="form-control rawitemlist itemrow" name="issueqty" id="' + issueqty1 + '" readonly></td>' +
                                '<td><input type="text" class="form-control rawitemlist" id="' + unit + '" name="uomid" readonly><input type="hidden" class="itemrow" id="' + unitid + '" name="' + unitid + '"></td>' +
                                '<td><input type="text" class="form-control rawitemlist itemrow" name="balqty" id="' + balqty1 + '"></td>' +
                                '<td><button type="button" class="btn-info" onclick="addrow();"><i class="fa fa-fw fa-plus"></i></button></td>'+
                                '<td><button type="button" class="btn-danger deleteitem"><i class="fa fa-fw fa-remove"></i></button></td>'+
                            '</tr>';


        $('#rawitemtable tbody').append(newrow);

        var dropdown = $('#item1').clone();
      //  $('#' + tdid).html(dropdown);
       // $('#' + item).append(dropdown);
        $('#' + item).append($('#item1').html());
    }

    //code to remove current row
    $(document).on("click", ".deleteitem", function () {
        var id = $(this).closest("tr").attr('data');
        // alert(id);
        $(this).closest("tr").remove();
    });

    $(document).ready(function () {
        $("#issuedate").datepicker({
            dateFormat: 'mm/dd/yy',
            maxDate: 0
        });
        $("#ppdate").datepicker({
            dateFormat: 'mm/dd/yy',
            maxDate: 0
        });
        $("#wodate").datepicker({
            dateFormat: 'mm/dd/yy',
            maxDate: 0
        });

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = mm + '/' + dd + '/' + yyyy;
        document.getElementById("issuedate").value = today;
        document.getElementById("ppdate").value = today;
        document.getElementById("wodate").value = today;


        var startrow = 0;
        var startrowvalue = "---Select----"
        //code to fill dropdown list of warehouse
        $.ajax({
            type: "POST",
            url: '@Url.Action("getwarehouselist", "MaterialIssue")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (warehouses) {
                $("#warehouseid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(warehouses, function (i, item) {
                    $("#warehouseid").append('<option value="' + item.Id + '">' + item.SHORT_NAME + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
        //code to fill dropdown list of WarehouseIncharge
        $.ajax({
            type: "POST",
            url: '@Url.Action("getemplist", "MaterialIssue")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (employees) {
                $("#woinchargeid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(employees, function (i, item) {
                    $("#woinchargeid").append('<option value="' + item.Id + '">' + item.Name + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
        //code to fill dropdown list of Style
        $.ajax({
            type: "POST",
            url: '@Url.Action("getstylelist", "MaterialIssue")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (styles) {
                $("#styleid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(styles, function (i, item) {
                    $("#styleid").append('<option value="' + item.StyleNo + '">' + item.Stylename + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
        //code to fill dropdown list of Item
        $.ajax({
            type: "POST",
            url: '@Url.Action("getitemlist", "MaterialIssue")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (items) {
                $("#item1").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(items, function (i, item) {
                    $("#item1").append('<option value="' + item.Id + '">' + item.ItemName + '</option>');
                });

            },
            failure: function (response) {
                alert(response.d);
            }
        });



        //code to fill dropdown list of UOM
        $.ajax({
            type: "POST",
            url: '@Url.Action("getuomlist", "MaterialIssue")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (uoms) {
                $("#uomid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(uoms, function (i, item) {
                    $("#uomid").append('<option value="' + item.Id + '">' + item.ItemUnit + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
    });



    function getbyId(id) {

        var number = id.match(/\d+/);
        $("#requiredqty"+number).val('');
        $("#issueqty"+number).val('');
        $("#balqty"+number).val('');
        $("#unit"+number).val('');
        $("#unitid"+number).val('');


        var itid = $('#item' + number).val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("getitemlistbyId", "MaterialIssue")',
            data: "{'id':" + itid + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (items) {

                $("#available" + number).val(items.OpeningStock);
                $("#unit" + number).val(items.M_UnitMaster.ItemUnit);
                $("#unitid" + number).val(items.M_UnitMaster.Id);


            },

            failure: function (response) {
                alert(response.d);
            }

        });
    }


    function calcqty(id) {
        debugger;
        var number = id.match(/\d+/)[0];
        var IssueQty = $("#issueqty" + number).val();
        var reqqty = $("#requiredqty" + number).val();
        var availqty = $("#available" + number).val();
        var TotalIssue = $("#totIssueqty" + number).val();
        var balanceqty = 0;
        var total = parseFloat(IssueQty) + parseFloat(TotalIssue);
        reqqty = parseFloat(reqqty) >= parseFloat(total) ? parseFloat(reqqty) - parseFloat(total) : 0;
        var ReqBalQty = $("#Reqbalqty" + number).val();
        if (parseFloat(IssueQty) > parseFloat(availqty)) {
            swalmsg("You Have Only " + availqty + " Available Quantity!");
            $("#stoctypes" + number).val('Custom');
            $("#issueqty" + number).val("");
            $("#issueqty" + number).removeAttr("readonly");
            $("#issueqty" + number).focus();
        }
        else if (parseFloat(IssueQty) > parseFloat(ReqBalQty)) {
            swalmsg("You Have Required Only " + ReqBalQty + " Quantity!")
            GetPerDay(id);
            $("#issueqty" + number).focus();
        } else {
            
            balanceqty = parseFloat(availqty) - (total);
        }
        $("#balqty" + number).val(balanceqty);

    }

    function GetPerDay(id) {
        var no = id.match(/\d+/)[0];
        var Wono = $("#RefWO").val();
        var Itemid = $("#rawitemid" + no).val();
        var iAttr = $("#rawIAid" + no).val();
         $.ajax({
            type: "POST",
            url: '@Url.Action("GetPerDayQty", "MaterialIssue")',
             data: '{"WOID":' + Wono + ',"ItemId":' + Itemid + ',"iAttr":' + iAttr+'}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
             success: function (result) {
                 var inwardid = $('#inwardid' + no + ' option:selected').toArray().map(item => item.value).join();
                if (result != null && result != "") {
                    debugger;
                    var stocktype = $("#stoctypes" + no).val();
                    if (stocktype == "Full") {
                        var Reqstock = $("#Reqbalqty" + no).val();
                        $("#issueqty" + no).val(Reqstock);
                        $("#issueqty" + no).attr("readonly", true);
                        calcqty(id);
                    } else if (stocktype == "Custom") {
                        $("#issueqty" + no).val(0);
                        $("#issueqty" + no).removeAttr("readonly");
                    }
                    else {
                        debugger;
                        $("#issueqty" + no).attr("readonly", true);
                        result = JSON.parse(result);
                        var perQty = 0;
                        if (result.PerQty != null) {
                            perQty = parseFloat(result.PerQty);
                        }
                        var PerDayP = $("#PPDProd").val();
                        var ReqQty = parseFloat(perQty) * parseFloat(PerDayP);
                        $("#issueqty" + no).val(ReqQty);
                        calcqty(id); 
                    }
                }

            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    function setdate(dat) {
        debugger;
        var today = "";
        var Sdat = "";
        if (dat.indexOf('-') > 0) {

             Sdat = dat.split('-');

             today = Sdat[1] + '/' + Sdat[0] + '/' + Sdat[2];
        }
        else {
             Sdat = dat.split('/');

            if (parseInt(Sdat[1]) < 10) {
                Sdat[1] = '0' + Sdat[1];
            }
            if (parseInt(Sdat[0]) < 10) {
                Sdat[0] = '0' + Sdat[0];
            }
             today = Sdat[0] + '/' + Sdat[1] + '/' + Sdat[2];
        }
        return today
    }

    function getProdPlanList() {
        var WOid = $("#RefWO").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("getWODetials", "MaterialIssue")',
            data: '{"WOID":' + WOid+'}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result != null && result != "") {
                    debugger;
                    result = JSON.parse(result);

                    $.each(result, function (i, item) {
                        $("#ppno").val(item.PlanNo);
                        $("#ppnoid").val(item.ID);
                        item.PlanDateString = item.PlanDateString.split(" ")[0];
                        $("#ppdate").val(setdate(item.PlanDateString));
                        $("#porefno").val(item.POID);
                        $("#StyleID").val(item.StyleID);
                        $("#Stylename").val(item.StyleName);
                        $("#Stylename").val(item.StyleName);
                        item.MFG_WORK_ORDER.Date = item.MFG_WORK_ORDER.wodate.split(" ")[0];
                        $("#wodate").val(setdate(item.MFG_WORK_ORDER.Date));
                        $("#TargetQty").val(item.Target_Qty);
                        $("#planStartDate").val(setdate(item.StartDateString.split(" ")[0]));
                        $("#planTargetDate").val(setdate(item.TargetDateString.split(" ")[0]));
                        GetProductionDetails();

                    });

                    getRawItemDetail();


                }

            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    function getRawItemDetail() {
        debugger
        var companyid = $("#companyid").val();
        var branchid = $("#branchid").val();
        var UserId = $("#userid").val();

        var POid = $("#porefno").val();
        var Wono = $("#RefWO").val();
        var myjson = { "POid": POid, "WOID": Wono, 'CompanyId': companyid, 'BranchId': branchid, 'UserId': UserId };

        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '@Url.Action("SaveAutoPR", "BillOfMaterial")',
            data: "{'Model':'[" + JSON.stringify(myjson) + "]','type':3}",
            contentType: "application/json;",
            success: function (result) {
                debugger;
                result = JSON.parse(result);
                var tabstr = "";
                var unitsel = "";
                $("#rawitemtable tbody").html("");
                $.each(result.Table1, function (i, subcate) {
                    debugger;
                    unitsel = "";
                    var item = "item" + i;
                    var available = "available" + i;
                    var unit = "unit" + i;
                    var unitid = "unitid" + i;
                    var tdid = "tdid" + i;
                    var requiredqty1 = "requiredqty" + i;
                    var issueqty1 = "issueqty" + i;
                    var balqty1 = "balqty" + i;
                    var Reqbalqty1 = "Reqbalqty" + i;
                    var totIssueqty1 = "totIssueqty" + i;
                    var stoctypes = "stoctypes" + i;
                    var totqty = $("#PTotalQty").val();
                    var Reqqty = parseFloat(subcate.PerQty) * parseFloat(totqty);
                    var IssueQty = parseFloat(Reqqty)>parseFloat(subcate.TotalIssue)?parseFloat(Reqqty) - parseFloat(subcate.TotalIssue):0;

                    tabstr = tabstr + "<tr class='data-contact-person odd bg-info' id='rowtitle'>";
                    tabstr = tabstr + "<td style='text-align: center;' class='rawsizerow'><select class='form-control select2 rawitemlist itemrow' id='" + stoctypes + "' name='" + stoctypes + "' onchange='GetPerDay(this.id)'  ><option value='Custom'>Custom</option><option value='Full'>Full</option><option value='Per Day'>Per Day</option></select></td>";
                    tabstr = tabstr + "<td style='text-align: center;' class='rawsizerow'><input type='text' class='form-control' value='" + subcate.ItemsubcategoryName + "' disabled /><input type='hidden' id='hiddenitemcategoryid' value='" + subcate.ItemSubCategoryId + "' class='form-control  rawitemlist itemrow' /></td>";
                    tabstr = tabstr + "<td style='text-align:center;' class='rawsizerow'><input type='text' class='form-control' value='" + subcate.ItemName + "' readonly /><input  type='hidden' class='form-control  rawitemlist itemrow' id='rawitemid" + i + "' name='rawitemid" + i + "' value='" + subcate.ItemId + "'   style='width: 100%;' readonly />";
                    tabstr = tabstr + "<input type='hidden' id='rawIAid" + i + "' class='form-control  rawitemlist itemrow' value='" + subcate.Item_Attribute_ID + "' /></td>";
                    tabstr = tabstr + "<td><input type='text' readonly id='" + requiredqty1 + "' class='form-control  rawitemlist itemrow' name='" + requiredqty1 + "' value='" + Reqqty + "'  /></td>";
                    tabstr = tabstr + "<td><input type='text' id='" + available + "' class='form-control  rawitemlist itemrow' name='" + available + "' value='0' readonly /></td>";
                    tabstr = tabstr + "<td><input type='text' id='" + issueqty1 + "' class='form-control rawitemlist itemrow issueqty' value='0'  name='" + issueqty1 + "' onchange='calcqty(this.id);' onkeypress='return isNumber(event)' /></td>";
                    tabstr = tabstr + "<td><input type='text' class='form-control rawitemlist' id='" + unit + "' name='" + unit + "' value='" + subcate.UnitName + "' readonly /><input type='hidden' class='itemrow' id='" + unitid + "' name='" + unitid + "' value='" + subcate.UnitId + "' /></td>";
                    tabstr = tabstr + "<td><input type='text' class='form-control rawitemlist itemrow' name='" + Reqbalqty1 + "' id='" + Reqbalqty1 + "' value='" + IssueQty+"' readonly /></td>";
                    tabstr = tabstr + "<td><input type='text' class='form-control rawitemlist itemrow' name='" + balqty1 + "' id='" + balqty1 + "' value='0' readonly /></td>";
                    tabstr = tabstr + "<td><input type='text' class='form-control rawitemlist itemrow' name='" + totIssueqty1 + "' id='" + totIssueqty1 + "' value='" + subcate.TotalIssue+"' readonly /></td>";
                    tabstr = tabstr + "</tr>";
                });
                $("#rawitemtable tbody").append(tabstr);
                $.each(result.Table1, function (i, subcate) {
                    debugger;
                    setItemUnit(i);
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        })
    }






    function setItemUnit(no) {
        debugger;
        var itemid = $("#rawitemid" + no).val();
        var IAid = $("#rawIAid" + no).val();
        $.ajax({
                type: "POST",
                url: '@Url.Action("getUnit", "BillOfMaterial")',
                data: "{'itemid':" + itemid + ",'IAid':'" + IAid + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    result = JSON.parse(result);
                    debugger;
                    $.each(result.Table, function (i, item) {
                        debugger;
                        $("#available" + no).val(item.AvailQty);
                        var IssueQty = $("#issueqty" + no).val();
                        var BalQty = parseFloat(item.AvailQty) > parseFloat(IssueQty) ? parseFloat(item.AvailQty) - parseFloat(IssueQty) : 0;
                        $("#balqty" + no).val(BalQty);
                    });
                    if (result.Table.length == 0) { 
                        $("#available" + no).val(0);
                        $("#balqty" + no).val(0);
                    }
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
    }

    function swalmsg(Msg) {
        swal({
            title: 'Error',
            text: Msg,
            type: "error",
            showCancelButton: false,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ok",
            closeOnConfirm: false,
            closeOnCancel: false

        });
    }

    function GetProductionDetails() {

        var ad1 = $("#planStartDate").val();
        var ad2 = $("#planTargetDate").val();
        var date1 = new Date(ad1);
        var date2 = new Date(ad2);
        var timeDiff = Math.abs(date2.getTime() - date1.getTime());
        var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
        $("#Ptotaldays").val(diffDays);
        var tarQty = $("#TargetQty").val();
        $("#PTotalQty").val(tarQty);
        var PPProdPlan = tarQty / diffDays;
        $("#PPDProd").val(Math.round(PPProdPlan));
    }

</script>