﻿@model Garments_ERP.Entity.M_ProcessMasterEntity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />

<style type="text/css">
    ul {
        margin: 0;
    }
</style>
@using (Html.BeginForm("Create", "Process", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">CSI Master</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "Process")">Process Detail</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-2">
                <button type="submit" id="SaveProcess" class="btn btn-success pull-left" style="margin-right:5px;">Save</button>
                <button type="button" class="btn btn-danger pull-left" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Process")'">Cancel</button>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Process Info
                                    </a>
                                </li>

                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Process Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(x => x.SHORT_NAME, new { @class = "form-control"})
                                                </div>

                                                @Html.ValidationMessageFor(model => model.SHORT_NAME, "", new { @class = "text-danger" })
                                                @*<input type="text" class="form-control">*@
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Process Description</label>
                                        </div>
                                        <div class="col-md-4 pull-left">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextAreaFor(m => m.Process_Description, new { @class = "form-control" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Direction Job-Work</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" style="width: 100%;" name="jobwork" id="jobwork">
                                                    <option selected="selected">In</option>
                                                    <option>Out</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Produce Output</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(x => x.Process_Produce_Output, new { @class = "form-control" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Produce Barcode</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" style="width: 100%;" id="Barcode" name="Barcode">
                                                    <option selected="selected">Yes</option>
                                                    <option>No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Wastage %</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(x => x.Process_Wastage, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Duration Per</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(x => x.Process_Duration_Per, new { @class = "form-control" })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Duration Per UOM</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.DropDownListFor(m => m.Process_Duration_Per_UOM, (IEnumerable<SelectListItem>)ViewBag.durationunitlist, "---Select Unit---", new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Duration NOs</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(x => x.Process_Duration_Nos, new { @class = "form-control" })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Process Duration</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @*<input id="e1" name="e1">*@
                                                <div class="form-line">
                                                    @Html.TextBoxFor(x => x.Process_Duration, new { @class = "form-control" })
                                                </div>

                                                @*<select class="form-control select2" style="width: 100%;" id="produration" name="produration">
                                                        <option selected="selected">Hour</option>
                                                        <option>Day</option>
                                                        <option>Week</option>
                                                    </select>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Machine Type</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.DropDownListFor(m => m.Process_Machine_Type_Id, (IEnumerable<SelectListItem>)ViewBag.machinetypelist, "---Select MachneTpe---", new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Item Category</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.DropDownListFor(m => m.ItemCategoryId, (IEnumerable<SelectListItem>)ViewBag.itemcategorylist, "---Select Category---", new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Process Incharge</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.DropDownListFor(m => m.Process_Incharge_ID, (IEnumerable<SelectListItem>)ViewBag.employeelist, "---Select Incharge---", new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script>
    
    $(function () {
        $('.select2').select2();
        $('.select2').width("100%");

        $(function () { $("#e1").daterangepicker(); });
    });
    function MSGshow(_title, alrtmsg, _type) {

        swal({
            title: _title,
            text: alrtmsg,
            type: _type,
            showCancelButton: false,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ok",
            closeOnConfirm: false,
            closeOnCancel: false

        });
    }
    $('#SaveProcess').on("click", function () {

        var ProcessName = $('#SHORT_NAME').val();

        var MachineType = $('#Process_Machine_Type_Id').val();
        var ItemCategoryId = $('#ItemCategoryId').val();
        var Process_Incharge_ID = $('#Process_Incharge_ID').val();

        var Process_Duration = $('#Process_Duration').val();

        var isvalid = true;


        if (MachineType == "0" && MachineType == "") {
            MSGshow("Error", "Select Machine Type", "error");
            isvalid = false;
        }
        if (ItemCategoryId == "0" && ItemCategoryId == "") {
            MSGshow("Error", "Select ItemCategory", "error");
            isvalid = false;
        }
        if (Process_Incharge_ID == "" && Process_Incharge_ID == "0") {
            MSGshow("Error", "Select Process Incharge", "error");
            isvalid = false;
        }

        if (Process_Duration == "") {
            MSGshow("Error", "Enter Process Duration", "error");
            isvalid = false;
        }

        if (ProcessName == "") {
            MSGshow("Error", "Enter Process Name", "error");
            isvalid = false;
        }


        return isvalid;

    });
</script>
