﻿@model Garments_ERP.Entity.T_ISSUE_RETURNSEntity
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />


<style>

    ul {
        margin: 0;
    }
</style>


    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-8">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Inventory</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "ReturnOrder")">Return Stock Details</a>  >  </div>
                <div class="HMsubline">Edit</div>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "ReturnOrder")'">Cancel</button>
                <button type="button" class="btn btn btn-success pull-right" style="margin-right:5px;" id="saveReturnStock" disabled>Update</button>
            </div>

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Return Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">perm_data_setting</i>Return Material Details
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Return No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="returnno" name="returnno" class="form-control disabled" value="@Model.RETURN_NO" readonly />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Return Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            @{
                                                string tndt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.RETURNS_DATE));
                                                tndt = tndt.Replace('-', '/');
                                            }
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right " id="reuturndate" name="reuturndate" value="@tndt" readonly />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Type</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="typeid" name="typeid" class="form-control disabled" value="@Model.STYPE" readonly />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>Buyer/Seller/Operator</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @if (Model.STYPE == "customer" || Model.STYPE == "supplier")
                                                    {
                                                        <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="@Model.MLedgerEntity.Ledger_Name" readonly autocomplete="off" id="BSOnameId" name="BSOnameId" onchange="GetList()" />
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="@Model.empentity.Name" readonly autocomplete="off" id="BSOnameId" name="BSOnameId" onchange="GetList()" />
                                                    }

                                                </div>

                                                <input type="hidden" id="BSOid" name="BSOid" value="@Model.BUYER_SELLER" />

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>PO NO</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" value="@Model.POno" readonly />
                                                </div>
                                                <input type="hidden" id="POid" name="POid" value="@Model.PO_ID" />
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>PO Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            @{
                                                string tndt1 = Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.PO_DATE));
                                                tndt1 = tndt1.Replace('-', '/');
                                            }
                                            
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" readonly id="podate" name="podate" value="@tndt1" />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>WO NO</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" value="@Model.wono" readonly />
                                                </div>
                                            </div>
                                            <input type="hidden" id="WOid" name="WOid" value="@Model.WO_ID" />
                                        </div>

                                        <div class="col-md-2">
                                            <label>WO Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            @{string tndt2 = "";}

                                            @if (Model.WO_ID > 0)
                                            {

                                               tndt2 = Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.WO_DATE));
                                               tndt2 = tndt2.Replace('-', '/');
                                            }
                                            else
                                            {
                                                tndt2 = "";
                                            }
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" readonly id="wodate" name="wodate" value="@tndt2">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Invoice No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" value="@Model.invno" readonly />
                                                </div>
                                            </div>
                                            <input type="hidden" id="invoicenoid" name="invoicenoid" value="@Model.INVOICE_ID" />

                                        </div>

                                        <div class="col-md-2">
                                            <label>Invoice Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            @{string tndt3 = ""; }
                                            @if (Model.INVOICE_ID > 0)
                                            {

                                                tndt3 = Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.INV_DATE));
                                                tndt3 = tndt3.Replace('-', '/');

                                            }
                                            else
                                            {
                                                tndt3= "";
                                            }
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" readonly id="invoicedate" name="invoicedate" value="@tndt3">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Material Issue No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" value="@Model.MI_NO" readonly />
                                                </div>
                                            </div>
                                            <input type="hidden" id="MInoid" name="MInoid" value="@Model.MATERIAL_ISSUE_ID" />

                                        </div>
                                        <div class="col-md-2">
                                            <label>Material Transfer No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" value="@Model.Tno" readonly />
                                                </div>
                                            </div>
                                            <input type="hidden" id="MTnoid" name="MTnoid" value="@Model.TRANSFER_ID" />
                                            
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Transfer Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            @{string tndt4 = ""; }
                                            @if (Model.TRANSFER_ID > 0)
                                            {

                                                tndt4 = Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.TRANSFER_DATE));
                                                tndt4 = tndt4.Replace('-', '/');

                                            }
                                            else
                                            {
                                                tndt4= "";
                                            }
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" readonly id="transferdate" name="transferdate" value="@tndt4">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Remark</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea id="remark" class="form-control" name="remark" readonly>@Model.RETURNS_DESC</textarea>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    <input type="hidden" id="returnItemstr" name="returnItemstr" />
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-condensed" id="returnTable">
                                                    <thead class="bg-info">
                                                        <tr class="titlerow">
                                                            <th>Item Name</th>
                                                            <th>HSN Code</th>
                                                            <th>Unit</th>
                                                            <th>PO/Transfer Qty</th>
                                                            <th>Delivery/Inv. Qty</th>
                                                            <th>Batch/Lot No</th>
                                                            <th>Return Qty</th>
                                                            <th>Balance Qty</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.T_ISSUE_RTRN_DETAILEntity)
                                                        {
                                                            <tr>
                                                                <td>@item.ItemMaster.ItemName</td>
                                                                <td>@item.HSN_CODE</td>
                                                                <td>@item.unitent.ItemUnit</td>
                                                                <td>@item.PO_TRANSFER_QTY</td>
                                                                <td>@String.Format("{0:0.00}", item.ISSUED_QTY)</td>
                                                                <td>
                                                                    @{string btname = ""; }
                                                                    @foreach (var bt in item.BatchList)
                                                                    {
                                                                        btname = bt.Dynamic_Controls_value+ "," + btname ;
                                                                    }
                                                                    @btname
                                                                </td>
                                                                <td>@String.Format("{0:0.00}", item.RETURNED_QTY)</td>
                                                                <td>@String.Format("{0:0.00}", item.BALANCED_QTY)</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>




<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>

<script>
    $(document).ready(function () {
        $('.select2').select2();
        $('.select2').width("100%");

        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "Display:none;");
        $("#reuturndate").datepicker({
            format: 'mm/dd/yy'
        });

        var today = new Date();

        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        // var today2 = today.setMonth(mm + 1);
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        today = mm + '/' + dd + '/' + yyyy;

        $("#reuturndate").val(today);
    });

</script>
<script src="~/Scripts/ReturnStock.js"></script>