﻿@model Garments_ERP.Entity.EmployeeEntity
<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>


<div class="row clearfix">
    <div class="col-md-2">
        <div class="required">
            <label>Address-1</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <textarea class="form-control" id="address1" name="address1"> @Model.empaddEnity.Address1</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <label>Address-2</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <textarea class="form-control" id="Address2" name="Address2">@Model.empaddEnity.Address2</textarea>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-2">
        <div class="required">
            <label>Country</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                @Html.DropDownList("countryid", (IEnumerable<SelectListItem>)ViewBag.countrylist, "---Select Country---", new { @class = "form-control select2", @onchange = "getState()" })
            </div>

        </div>
    </div>
    <div class="col-md-2">
        <div class="required">
            <label>State</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.DropDownList("addressstateid", (IEnumerable<SelectListItem>)ViewBag.statelist, "---Select State---", new { @class = "form-control select2", @onchange = "getCity()" })
        </div>
    </div>

</div>

<div class="row clearfix">
    <div class="col-md-2">
        <div class="required">
            <label>City</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.DropDownList("addresscityid", (IEnumerable<SelectListItem>)ViewBag.citylist, "---Select City---", new { @class = "form-control select2" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="required">
            <label>Pincode</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" name="pincode" id="pincode" class="form-control" value="@Model.empaddEnity.Pincode" />
            </div>
        </div>
    </div>

</div>

<div class="row clearfix">
    <div class="col-md-2">
        <div class="required">
            <label>Mobile No.</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" name="MobileNo" id="MobileNo" maxlength="10" class="form-control" value="@Model.empaddEnity.MobileNo" />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="required">
            <label>Emergency Phone No</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" name="PhoneNo" id="PhoneNo" maxlength="10" class="form-control" value="@Model.empaddEnity.PhoneNo" />
            </div>
        </div>
    </div>

</div>

<div class="row clearfix">
    <div class="col-md-2">
        <label>Email</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" name="Email" id="Email" class="form-control" value="@Model.empaddEnity.Email" />
            </div>
        </div>
    </div>
</div>