﻿@model Garments_ERP.Entity.M_ItemSizeMasterEntity
@{
   ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml"; 

}

<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>

@using (Html.BeginForm("Edit", "ItemSize", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Id)
    <main id="tabs">
        <ul id="tab_ulid">
            <li class="btnLi active">
                <a href="#content1">Item Size</a>
            </li>

            <li style="float:right;padding:9px 0;">
                <button type="submit" class="btn btn-success pull-left" style="margin-right:5px;" id="saveitemsize">Update</button>
                <button type="button" class="btn btn-danger pull-left" style="margin-right:5px;" id="btncancel" onclick="location.href='@Url.Action("Index", "ItemSize")'">Cancel</button>

            </li>
        </ul>
        <section-tab id="content1" class="sectab">
            <div class="box box-default">
                <div class="titlerow bg-light-blue">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="color:white;">New Item Size</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>*@
                        </div>
                    </div>
                </div>
                <div class="box-body with-border">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label>Item Name</label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.Itemid, (IEnumerable<SelectListItem>)ViewBag.itemlist, "---Select Item---", new { @class = "form-control select2" })
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label>Style Name</label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.Styleid, (IEnumerable<SelectListItem>)ViewBag.stylename, "---Select Style---", new { @class = "form-control select2" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Size Type</label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Sizetype, new { @class = "form-control", @id = "Sizetype" })
                                    @Html.ValidationMessageFor(model => model.Sizetype, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Size Description </label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.TextAreaFor(m => m.Sizedesc, new { @class = "form-control", @id = "Description" })
                                </div>
                            </div>
                        </div>

                        <!-- /.row -->
                    </div>
                    @*<div class="box-footer">
                        <button type="submit" class="btn btn pull-left" style="margin-right:5px;" id="saveitemsize">Update</button>
                        <button type="button" class="btn btn btn-danger pull-left" style="margin-right:5px;" id="btncancel" onclick="location.href='@Url.Action("Index", "ItemSize")'">Cancel</button>

                    </div>*@

                </div>
            </div>
            </section-tab>
</main>
        }
        <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="~/Scripts/JqueryUI.js"></script>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        <script>
            $('#saveitemsize').on("click", function () {
                var isvalid = true;
                var itemsize = $('#ItemSize').val();
                if (itemsize == "") {
                    swal("Enter Item Size");
                    isvalid = false;
                }
                return isvalid;
            });

            $('#btncancel').on("click", function () {
                document.location = '@Url.Action("Index", "ItemSize")';
            });
        </script>

